<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0-alpha1/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-GLhlTQ8iRABdZLl6O3oVMWSktQOp6b7In1Zl3/Jr59b6EGGoI1aFkw7cmDA6j6gD" crossorigin="anonymous">
        <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0-alpha1/dist/js/bootstrap.bundle.min.js" integrity="sha384-w76AqPfDkMBDXo30jS1Sgez6pr3x5MlQ1ZAGC+nuZB+EYdgRZgiwxhTBTkF7CXvN" crossorigin="anonymous"></script>
        <link rel="stylesheet" href="/static/css/dashboard.css">
        <script src="../../static/public/js/app.js"></script>
        <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.6.3/jquery.min.js"></script>
        <link rel="stylesheet" href="//cdnjs.cloudflare.com/ajax/libs/highlight.js/11.7.0/styles/default.min.css">
        <script src="//cdnjs.cloudflare.com/ajax/libs/highlight.js/11.7.0/highlight.min.js"></script>
        <!-- <script src="https://cdn.jsdelivr.net/npm/mathjax@3/es5/tex-mml-chtml.js"></script> -->
        <script src="https://cdn.jsdelivr.net/npm/marked/marked.min.js"></script>
        <script src="https://cdnjs.cloudflare.com/ajax/libs/mermaid/9.3.0/mermaid.min.js"></script>

        <script src="https://polyfill.io/v3/polyfill.min.js?features=es6"></script>
        <script src="https://cdn.mathjax.org/mathjax/latest/MathJax.js?config=TeX-AMS_HTML"></script>
        
        

        <!-- <script src="https://polyfill.io/v3/polyfill.min.js?features=es6"></script>
        <script id="MathJax-script" async src="https://cdn.jsdelivr.net/npm/mathjax@3/es5/tex-mml-chtml.js"></script> -->
    </head>
    <title>Dashboard {{user_name}}</title>
    </head>
    <body>
        <div class="header">
            <div class="logo_header">
                <img src="/static/img/clipboard.png" alt="photo_de_profile">
                <div class="info_">
                    <h1>{{user_name}}</h1>
                    <p>
                        <em>@{{user_name}}_Enseignant</em>
                    </p>
                </div>
            </div>
            <div class="menu_dashboard">
                <ul class="nav nav-pills" id="pills-tab" role="tablist">
                    <button class="active nav-link" style="border-radius: 2em;" id="pills-home-tab" data-bs-toggle="pill" data-bs-target="#pills-home" type="button" aria-controls="pills-home" aria-selected="true">Dashboard</button>
                    <button class="nav-link" style="border-radius: 2em;" id="pills-profile-tab" data-bs-toggle="pill" data-bs-target="#pills-profile" type="button" aria-controls="pills-profile" aria-selected="false">
                        <span style="font-weight: bolder;"> + </span>
                        <span class="badge rounded-pill text-bg-danger hide-btn" style="cursor: pointer;">QCM/QCU/QN</span>
                    </button>
                    <!-- Les fonctionalités en plus  -->
                    <li class="nav-item dropdown">
                        <a class="nav-link dropdown-toggle" data-bs-toggle="dropdown" href="#" role="button" aria-expanded="false">
                            <span class="badge rounded-pill " style="background-color: #eed815;font-size: large;font-weight: bolder;">Fonctionalités en plus</span>
                        </a>
                        <ul class="dropdown-menu">
                            <li>
                                <button type="button" onclick="visual_createAccount()" class="dropdown-item" href="#">creer compte étudiants</button>
                                <button type="button" onclick="change_passwordAffiche()" class="dropdown-item" href="#">changer votre mot-de-passe</button>

                            </li>
                        </ul>
                    </li>
                    <!-- fonctionalités divs -->
                    <div class="create_account" style="display: none;">
                        <h1>Création de comptes Etudiants <span class="badge rounded-pill text-bg-danger hide-btn" style="cursor: pointer;" onclick="hide_visual_create_account()">X</span>
                        </h1>
                        <p>
                            <span style="padding: 5px;background-color: rgb(243, 57, 57);border-radius: 2em;"> Note : Cliquez sur X pour quitter la visualisation</span>
                        </p>
                        <div class="container_add_user">
                            <form action="/create_account/{{user_name}}" method="post" style="display: flex;flex-direction: column;" enctype="multipart/form-data">
                                <input type="file" style="margin: 10px;" name="file">
                                <button class="fonctionality_ btn_ajoutQ btn-info" style="background-color: rgb(54, 190, 17);"> Creation de comptes </button>
                            </form>
                        </div>
                    </div>
                </ul>
                <form action="/disconnect/enseignant/{{user_name}}" method="get">
                    <button class="fonctionality_" style="background-color:#f83f2a;" type="submit"> Deconnecter</button>
                </form>
            </div>
        </div>
        <div class="container_app">
            <div class="tab-content" id="pills-tabContent">
                <div class="tab-pane fade show active" id="pills-home" role="tabpanel" tabindex="0">
                    <div class="banner_logo">
                        <div class="container_info" style="display: flex;align-items: center;">
                            <img src="/static/img/457.svg" alt="" height="200px" width="200px">
                        </div>
                        <div class="container_f">
                            <h2>Dashboard Enseignant</h2>
                            <div class="container_fonctionality">
                                <form action="/database/question/enseignant/{{user_name}}" method="post">
                                    <button class="fonctionality_" type="submit" >Base de question </h4>
                                </form>
                                <form action="/Dashboard/statistique/{{user_name}}" method="post">
                                    <button class="fonctionality_" type="submit"  >Statistiques </h4>
                                </form>
                                <form action="/Live/{{user_name}}/settings" method="post">
                                    <button class="fonctionality_ " style="background-color: rgb(214, 214, 214);" type="submit"> Diffusion - <span class="badge rounded-pill text-bg-danger">Live</span>
                                    </button>
                                </form>
                            </div>
                        </div>
                    </div>
                    <div class="info_banner">
                        <h2> Interface conviviale qui permet aux enseignants de créer rapidement et facilement des questionnaires avec différents types de questions </h2>
                        <form action="#" method="post" style="display: none;">
                            <h4 class="btn btn-info">Newslater : </h4>
                            <div class="input-group mb-3">
                                <span class="input-group-text" id="basic-addon1">UM-message</span>
                                <input type="text" class="form-control" placeholder="envoyer une notification a tout les etudiants">
                            </div>
                            <button type="submit" class="option_dashboard_info btn" style="background-color: rgb(209, 209, 209); border-radius: 2em;"> Envoyer</button>
                        </form>
                    </div>



                </div>
                <!-- Div [Hidden]  -->
                <!-- ! S'affiche quand le bouton qcm est cliqué  -->
                <div class="tab-pane fade" id="pills-profile" role="tabpanel" tabindex="0">
                    <div class="question_interface">
                        <div class="form_question">
                            <div class="container_question_info">
                                <div>
                                    <input type="hidden" name="content_space" id="champ_hidden_render" value="">
                                    <button class="fonctionality_ apercu" onclick="visual_engineAffiche()">Apercu </button>
                                </div>
                                <select class="form-select choice_typeQUestion" style="width: min-content;">
                                    <option selected value="None">Choix du type de question </option>
                                    <option value="qcm">QCM</option>
                                    <option value="qcu">QCU</option>
                                    <option value="QN">Question Numerique</option>
                                    <option value="QO">Question Ouvert</option>  <!--dernier modification ici-->
                                </select>
                            </div>
                            <div class="container_enonce">
                                <h4 class="title_">Enonce</h4>
                                <textarea name="content_space_enonce" id="enonce_champ" cols="30" rows="10" placeholder="Veuillez ecrire l'enoncé  : "></textarea>
                            </div>
                            <h4 class="title_">Proposition</h4>
                            <div id="container_questions"></div>
                            <h4 class="submit_btn add_question" onclick="addQuestion()">+ ajouter </h4>
                            <h4 class="title_">Choix des thématiques</h4>
                            <div class="contaier_thematique"> {% for etiquette_ in all_questions_user_thematique%} <div class="form-check">
                                    <input class="form-check-input thematique_checked" type="checkbox" value="{{etiquette_}}" id="flexCheckDefault">
                                    <label class="form-check-label" for="flexCheckDefault">
                                        {{etiquette_}}
                                    </label>
                                </div> {% endfor %} <h4 class="title_">thématiques</h4>
                                <div id="container_thematique"></div>
                                <h4 class="submit_btn add_question" onclick="addThematique()">+ ajouter </h4>
                                <div>
                                    <form action="/create_question/enseignant/{{user_name}}" method="post" class="form_addQuestion">
                                        <input type="hidden" id="add_question" name="question_object" value=''>
                                        <button type="submit" class="title_ add_question" value="+ Question" onclick="SendQuestion()">+ Question</button>
                                    </form>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="visual_engine" style="display: none;">
                    <div class="info_current_user" style="width: 100vw;height: 100wh;">
                        <h1>Visual Engine <span class="badge rounded-pill text-bg-danger hide-btn" style="cursor: pointer;" onclick="hide_visual_engine()">X</span>
                        </h1>
                        <p>
                            <em>@{{user_name}}</em>
                            <span style="padding: 5px;background-color: rgb(243, 57, 57);border-radius: 2em;"> Note : Cliquez sur X pour quitter la visualisation</span>
                        </p>
                    </div>
                    <div class="container_print_data" id="visual_data"></div>
                </div>
                <div class="change_password" style="display: none;">
                    <h1>Quittez<span class="badge rounded-pill text-bg-danger c_password_quit" onclick="hide_change_password_engine()" style="cursor: pointer;">X</span>
                    </h1>
                    <form action="/change-password/{{user_name}}" method="post">
                        <h2>Modifier mot de passe</h2>
                        <div class="input-group mb-3">
                            <input type="text" class="form-control" placeholder="L'ancien mot de passe" name="older_password">
                        </div>
                        <div class="input-group mb-3">
                            <input type="text" class="form-control" placeholder="Saisir le nouveau mot de passe" name="new_password">
                        </div>
                        <button type="submit" class="btn btn-success">Changer de mot-de-passe</button>
                    </form>
                </div>
            </div>
        </div>
    </body>
    <script>
        mermaid.initialize({
            startOnLoad: true
        });

        function renderMermaid() {
            mermaid.init(undefined, document.querySelectorAll(".language-mermaid"));
        }
        let affiche_interface_question = () => {
            const question_interface = document.querySelector(".question_interface");
            if (question_interface.style.display === "none") {
                question_interface.style.display = "flex";
            } else {
                question_interface.style.display = "none";
            }
        }
    </script>
    <script>
        // ::  -> Visual Engine
        // function parseLatex(latexString) {
        //     const div = document.createElement('div');
        //     div.innerHTML = latexString;
        //     MathJax.Hub.Queue(['Typeset', MathJax.Hub, div]);
        //     return div.innerHTML;
        // }
        // function parseAndDisplay(input) {
        //     // const output = document.getElementById("visual_data");
        //     $("#visual_data").append(parseLatex(input));
        // }
        let visual_engine = () => {
            let enonce_value = document.getElementById("enonce_champ")
            let rendered_ = enonce_value.value + "\n"
           
           
            
            
            document.getElementById("visual_data").innerHTML = marked.parse(rendered_)
            const myDivs = document.getElementById('visual_data');
            const paragraphs = myDivs.querySelectorAll('p');

            for (let i = 0; i < paragraphs.length; i++) {
                // console.log(paragraphs[i].textContent);
                parseAndDisplay(paragraphs[i].textContent)
                paragraphs[i].remove()
            }
            // Rajout des propositions
            let propositions = document.getElementsByClassName("proposition")
            $("#visual_data").append("<h4> Propositions de reponses : </h4>" + "  <br> \n ")
            // rendered_ += propositions_message
            for (let i = 0; i < propositions.length; i++) {
                template_ = "<div class='input-group mb-3'><div class='input-group-text'><input class='form-check-input mt-0' type='checkbox'   aria-label='Checkbox for following text input' disabled></div><input type='text' class='form-control' aria-label='Text input with checkbox' placeholder='"+propositions[i].value+"' disabled></div>"
                let temp_ = template_
                $("#visual_data").append(temp_ + " <br> ")

            }
            renderMermaid();
            document.querySelectorAll('pre code').forEach((el) => {
                hljs.highlightElement(el);
            });
            // parseAndDisplay()
        }
        // const hideBtn = document.querySelector(".hide-btn");
        const myDiv = document.querySelector(".visual_engine");
        let c_password = document.querySelector(".change_password");

        const myDiv_creation_account = document.querySelector(".create_account");
        let visual_engineAffiche = () => {
            const myDiv = document.querySelector(".visual_engine");
            myDiv.style.display = "flex";
            myDiv.style.position = "fixed";
            myDiv.style.top = 0;
            myDiv.style.bottom = 0;
            myDiv.style.left = 0;
            myDiv.style.right = 0;
            myDiv.style.backdropfilter = "10px"
            visual_engine()
            
        }
        let hide_visual_engine = () => {
            myDiv.style.display = "none";
        }
        let hide_visual_create_account = () => {
            myDiv_creation_account.style.display = "none";
        }
        // Visualise Creation de compte
        let visual_createAccount = () => {
            let myDiv = document.querySelector(".create_account");
            myDiv.style.display = "flex";
            myDiv.style.position = "fixed";
            myDiv.style.top = 0;
            myDiv.style.bottom = 0;
            myDiv.style.left = 0;
            myDiv.style.right = 0;
            myDiv.style.backdropfilter = "10px"
        }


        let change_passwordAffiche = () => {
            c_password.style.display = "flex";
            c_password.style.position = "fixed";
            c_password.style.top = 0;
            c_password.style.bottom = 0;
            c_password.style.left = 0;
            c_password.style.right = 0;
            c_password.style.backdropfilter = "10px"
        }
        let hide_change_password_engine = () => {
            c_password.style.display = "none";
        }

    </script>
</html>