<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.2.3/dist/css/bootstrap.min.css" rel="stylesheet">
        <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.2.3/dist/js/bootstrap.bundle.min.js"></script>
        <script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
        <link rel="stylesheet" href="/static/css/dashboard_student.css">

        <title>Dashboard</title>
    </head>
    <body>
    <main>

        <div class="container-fluid p-5 bg-primary text-white text-center">
            <h1>Dashboard student</h1>
        </div>

    

        <div class="container mt-5">
            <div class="row">
              <div class="col-sm-4">
                 <h2>Information de : {{nom}} {{prenom}}</h2>
                 <p>Numero etudiant : {{numero_etudiant}}</p>
                 <form action="/disconnect/etudiant/{{numero_etudiant}}" method="post">
                    <input type="submit" value="Deconnexion" class="btn btn-primary w-45 bouton" >
                 </form>
            
                </div>

              <div class="col-sm-4">
                <div class="details">
                 <form action="/modifier_info_etudiant/{{user_name}}" method="post" >
                    <h3>Details:</h3>
                    <ul>
                        <li class="item-info">
                            Parcours Scolaire: {{parcours}}
                        </li>
                        <li class="item-info">
                            Class: {{classe}}
                        </li>
                        <li class="item-info">
                            Age: {{age}}
                        </li>
                        <li class="item-info">
                            Nationalité: {{nationalite}}
                        </li>
                        <li class="item-info">
                            Sexe: {{sexe}}
                        </li>
                        <li class="item-info">
                            Ancien Mot de passe
                            <h8 id="msgEerreur" style="color: red;">{{erreur_mdp}}</h8>
                        </li>
                        <li class="item-info">
                            Nouveau Mot de passe
                            
                        </li>
                    </ul>
                 </div>
               </div>
                <div class="col-sm-4">
                
                    <img id="imgEtudiant" src="/static/profile_user/img/{{numero_etudiant}}.jpg" style="height: 150px; width:150px; border-radius: 50%;" alt="1">
                    
                    <input class="btn btn-primary w-45 bouton" type="button" id="profiles" name="profiles" value="Modifier Profile" onclick="Modifier()">
                    <input class="btn btn-primary w-45 bouton" type="submit" value="Envoyer" >
                 </form>
            

                </div>
              
            </div>
          </div>

        </div>

        <div class="container mt-5" >
            <div class="row">
                <div class="col-sm-4">
                </div>
                <div class="col-sm-4 "  style="background-color: rgb(254, 248, 248); background-size: 100%;">
                    <h3>Live</h3>
                    <form action="/Live/{{user_name}}" method="post">
                        <label>Code d'accée:</label>
                        <input type="hidden" name="reponses" value="[]">
                        <input class="form-control" name="code_acces" type="text">
                        <input class="form-control" name="user_name" value="{{user_name}}" type="hidden">
                        <input name="index" value="0" type="hidden">
                        <input class="btn btn-primary w-45 bouton" type="submit" value="Entrer">
                    </form>
                    
                </div>
            </div>
        </div>

    </main>


    <script>
        var countsField = 0;
        function Modifier(){
            document.getElementById("msgEerreur").style.display = "none"
            var tableau_1 = ["parcours","classe","age","nationalite","sexe","ancien_mdp","mdp"];
            var tableau_2 = ['{{parcours}}','{{classe}}','{{age}}','{{nationalite}}','{{sexe}}',"",""];
            var index=0;
            if(countsField == 0){
                for(element of tableau_1){
                    var input = document.createElement("input");
                    input.name = element;
                    input.type = "text";
                    input.value = tableau_2[index];
                    document.getElementsByClassName("item-info")[index].append(input); //c'est un tableau
                    index++;
                }
                countsField++;
            }
        }
    </script>


    </body>
</html>