<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <!-- Fonction -->
    <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.6.3/jquery.min.js"></script>
    <link rel="stylesheet" href="//cdnjs.cloudflare.com/ajax/libs/highlight.js/11.7.0/styles/default.min.css">
    <script src="//cdnjs.cloudflare.com/ajax/libs/highlight.js/11.7.0/highlight.min.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/mathjax@3/es5/tex-mml-chtml.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/marked/marked.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/mermaid/9.3.0/mermaid.min.js"></script>
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.2.3/dist/css/bootstrap.min.css" rel="stylesheet">
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.2.3/dist/js/bootstrap.bundle.min.js"></script>
    <script src="https://polyfill.io/v3/polyfill.min.js?features=es6"></script>
    <script src="https://cdn.mathjax.org/mathjax/latest/MathJax.js?config=TeX-AMS_HTML"></script>
    <script src="https://cdn.jsdelivr.net/npm/chart.js"></script>
    

	<script src="https://html2canvas.hertzen.com/dist/html2canvas.min.js"></script>
    <title>Interface question</title>
</head>

<body>
   
    


    {% for sujet_id, sujet_data in all_sujets.items() %}

    <div class="info_student" style="padding: 50px;display: flex;">

        <div class="container_">
        <h3><span class="badge text-bg-info" style="font-weight:500;border-radius: 3em;">Identifiant sujet</span> : <span class="badge text-bg-warning" style="border-radius: 2em;">{{ sujet_id }}</span></h3>

            <div class="mb-3">
        
                <label for="formGroupExampleInput" class="form-label">Nom</label>
                <input type="text" class="form-control" id="formGroupExampleInput" placeholder="" disabled>
              </div>
              <div class="mb-3">
                <label for="formGroupExampleInput2" class="form-label">Prenom</label>
                <input type="text" class="form-control" id="formGroupExampleInput2" placeholder="" disabled>
              </div>
              <div class="mb-3">
                <label for="formGroupExampleInput2" class="form-label">Numero etudiant</label>
                <input type="text" class="form-control" id="formGroupExampleInput2" placeholder="" disabled>
              </div>
        </div>
       
        <div class="container" style="width: max-content;">
            <h3>etudiant anonyme</h3>
            <div class="row">
              {% for i in range(6) %}
              <div class="col-md-2">
                <div class="form-check">
                  {% for j in range(10) %}
                  <input class="form-check-input" type="checkbox" name="case{{ i }}{{ j }}" id="case{{ i }}{{ j }}">
                  <label class="form-check-label" for="case{{ i }}{{ j }}">{{ j}}</label>
                  <br>
                  {% endfor %}
                </div>
              </div>
              {% endfor %}
            </div>
          </div>
    </div>
   
    
     
    {% for theme_ ,question_s in sujet_data["questions"].items() %}
    {% for question_ in question_s%}

    <div class="card" style="margin: 20px;">
        <!-- <p>{{question_}}</p>
        <p>{{theme_}}</p> -->
        <div class="card-header question" style="padding: 20px;">
            {{question_.id}}
        </div>
        <textarea readonly name="content_space_enonce" id="enonce_champ" class="enonce_champ" cols="30" rows="10" style="display: none;">{{question_.enonce}}</textarea>
        <div class="visual_data card-text" id="visual_data" style="padding: 20px; ">{{question_.enonce}}</div>
        <div class="proposition_container" style="padding: 20px;">
            {% for proposition_ in question_.propositions %} <div class="input-group mb-3">
                <div class="input-group-text">
                    <input class="form-check-input mt-0" type="checkbox" value="" aria-label="Checkbox for following text input" disabled>
                </div>
                <input type="text" class="form-control" aria-label="Text input with checkbox" placeholder="{{proposition_}}" disabled>
            </div> 
            {% endfor %}
        </div>
    </div>
    {% endfor %}


    {% endfor %}
    <div class="div" style="width: 100%;display: flex;align-items: center;justify-content: center;">
        <div style="width: 95%; height: 20px;border-radius: 2em; background-color: #cc9797;"></div>
    </div>

    {% endfor %}
</body>
<script>
    let redirect_dashboard = () => {
        url = window.location.href.split("/")
        window.location.replace(url[0] + "/dashboard/enseignant/" + url[url.length - 1])
    }
    mermaid.initialize({
        startOnLoad: true
    });

    function renderMermaid() {
        mermaid.init(undefined, document.querySelectorAll(".language-mermaid"));
    }
    window.onload = function () {
        visual_engine();
    }
    let visual_engine = () => {
        for (let i = 0; i < document.getElementsByClassName("enonce_champ").length; i++) {
            let enonce_value = document.getElementsByClassName("enonce_champ")[i]
            document.getElementsByClassName("visual_data")[i].innerHTML = marked.parse(enonce_value.value)
        }
        renderMermaid();
        document.querySelectorAll('pre code').forEach((el) => {
            hljs.highlightElement(el);
        });
    }
    let download_pdf = () => {
        window.print()
    }

</script>

</html>