<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <!-- Fonction -->
        <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.6.3/jquery.min.js"></script>
        <link rel="stylesheet" href="//cdnjs.cloudflare.com/ajax/libs/highlight.js/11.7.0/styles/default.min.css">
        <script src="//cdnjs.cloudflare.com/ajax/libs/highlight.js/11.7.0/highlight.min.js"></script>
        <script src="https://cdn.jsdelivr.net/npm/mathjax@3/es5/tex-mml-chtml.js"></script>
        <script src="https://cdn.jsdelivr.net/npm/marked/marked.min.js"></script>
        <script src="https://cdnjs.cloudflare.com/ajax/libs/mermaid/9.3.0/mermaid.min.js"></script>
        <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.2.3/dist/css/bootstrap.min.css" rel="stylesheet">
        <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.2.3/dist/js/bootstrap.bundle.min.js"></script>
        <script src="https://polyfill.io/v3/polyfill.min.js?features=es6"></script>
        <script src="https://cdn.mathjax.org/mathjax/latest/MathJax.js?config=TeX-AMS_HTML"></script>
        <script src="https://cdn.jsdelivr.net/npm/chart.js"></script>
        <title>Interface question</title>
    </head>
    <body>
        <!-- QUestion  -->
        <div class="container_app">
            <div class="container" style="margin: 5px;padding: 20px;">
                <button type="button" class="btn" style="font-weight: bolder;padding: 20px;border-radius: 2em;background-color: #ffcc0040;font-size: 20px;">{{title_page}}</button>
                <!-- <button type="button" style="font-weight: bolder;padding: 20px;background-color: #ffcc0040;border-radius: 2em;font-size: 40px;">{{title_page}} : </button> -->
                <button type="button" class="btn btn-success download_" style="font-weight: bolder;padding: 20px;border-radius: 2em;font-size: 20px;" onclick="download_pdf()">Télécharger</button>
            </div> {% for question_ in all_questions_user %} 
            <div class="card" style="margin: 20px;">
                <div class="card-header question" style="padding: 20px;"></div>
                <textarea readonly name="content_space_enonce" id="enonce_champ" class="enonce_champ" cols="30" rows="10" style="display: none;">{{question_.enonce}}</textarea>
                <div class="visual_data card-text" id="visual_data" style="padding: 20px; ">{{question_.enonce}}</div>
                <div class="proposition_container" style="padding: 20px;">
                    <h1>Propostions :</h1> {% for proposition_ in question_.propositions %} <div class="input-group mb-3">
                        <div class="input-group-text">
                            <input class="form-check-input mt-0" type="checkbox" value="" aria-label="Checkbox for following text input" disabled>
                        </div>
                        <input type="text" class="form-control" aria-label="Text input with checkbox" placeholder="{{proposition_}}" disabled>
                    </div> {% endfor %}
                </div>
            </div> {% endfor %}
        </div>
    </body>
    <script>
        let redirect_dashboard = () => {
            url = window.location.href.split("/")
            window.location.replace(url[0] + "/dashboard/enseignant/" + url[url.length - 1])
        }
        mermaid.initialize({
            startOnLoad: true
        });

        function renderMermaid() {
            mermaid.init(undefined, document.querySelectorAll(".language-mermaid"));
        }
        window.onload = function() {
            visual_engine();
        }
        let visual_engine = () => {
            for (let i = 0; i < document.getElementsByClassName("enonce_champ").length; i++) {
                let enonce_value = document.getElementsByClassName("enonce_champ")[i]
                document.getElementsByClassName("visual_data")[i].innerHTML = marked.parse(enonce_value.value)
            }
            renderMermaid();
            document.querySelectorAll('pre code').forEach((el) => {
                hljs.highlightElement(el);
            });
        }
        let download_pdf = () => {
            $(".download_").remove()
            window.print()
        }
        
    </script>
</html>