<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <!-- <link rel="stylesheet" href="/static/css/main.css"> -->
    <link rel="stylesheet" href="/static/css/inter_question.css">
    <link rel="stylesheet" href="/static/css/dashboard.css">

    <!-- Fonction -->
    <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.6.3/jquery.min.js"></script>
    <link rel="stylesheet" href="//cdnjs.cloudflare.com/ajax/libs/highlight.js/11.7.0/styles/default.min.css">
    <script src="//cdnjs.cloudflare.com/ajax/libs/highlight.js/11.7.0/highlight.min.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/marked/marked.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/mermaid/9.3.0/mermaid.min.js"></script>
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.2.3/dist/css/bootstrap.min.css" rel="stylesheet">
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.2.3/dist/js/bootstrap.bundle.min.js"></script>
    <!-- <script src="/public/js/search_sengine.js"></script> -->
    <script src="/static/public/js/search_engine.js"></script>
    <script src="https://polyfill.io/v3/polyfill.min.js?features=es6"></script>
    <script src="https://cdn.mathjax.org/mathjax/latest/MathJax.js?config=TeX-AMS_HTML"></script>
    <script src="https://cdn.socket.io/3.1.3/socket.io.min.js"
        integrity="sha384-cPwlPLvBTa3sKAgddT6krw0cJat7egBga3DJepJyrLl4Q9/5WLra3rrnMcyTyOnh"
        crossorigin="anonymous"></script>
    <!-- <script src="../../static/public/js/app.js"></script> -->
    <title>Interface question</title>
</head>

<body>
    <div class="header">
        <div class="container_info" style="display: flex;align-items: center;">
            <img src="/static/img/457.svg" alt="" height="100px" width="100px">
        </div>
        <h1 id="owner_page" style="display: none;">{{user_name}}</h1>
        <form action="/Live/{{user_name}}/settings" method="post">
            <button class="fonctionality_ " style="background-color: rgb(214, 214, 214);" type="submit"> Diffusion -
                <span class="badge rounded-pill text-bg-danger">Live</span>
            </button>
        </form>
        <!-- <button type="button" class="btn btn-lg btn-danger" data-bs-toggle="popover" data-bs-title="Popover title" data-bs-content="And here's some amazing content. It's very engaging. Right?">Lancer un live </button> -->
        <div class="menu_dashboard" style="padding: 8px;">
            <ul class="nav nav-pills" id="pills-tab" role="tablist">
                <button class="active nav-link" style="border-radius: 2em;" id="pills-home-tab" data-bs-toggle="pill"
                    data-bs-target="#pills-home" type="button" aria-controls="pills-home" aria-selected="true">Tout les
                    questions <span class="badge rounded-pill text-bg-danger">{{ all_questions_user |
                        length}}</span></button>
                <!-- ! ** Recherche par thématique ** -->
                <div class="choise_t">
                    <button class="btn" data-bs-toggle="dropdown" data-toggle="tab">
                        <span class="badge rounded-pill text-bg-danger">Choix Thématique </span>
                    </button>
                    <ul class="dropdown-menu" style="padding: 20px; border-radius: 2em;width: max-content;"> {% for
                        etiquette_ in all_questions_user_thematique%} <div class="form-check" style="margin: 3px;">
                            <input class="form-check-input thematique_checked" type="checkbox" value="{{etiquette_}}"
                                id="flexCheckDefault">
                            <label class="form-check-label" for="flexCheckDefault">
                                {{etiquette_}}
                            </label>
                        </div> {% endfor %} <div class="form_search">
                            <!-- <input type="hidden" name="search_items" id="search_items"> -->
                            <input class="s_btn nav-item btn btn-primary w-100" style="border-radius: 2em;"
                                type="submit" value="chercher" onclick="search_engine()">
                            </form>
                    </ul>
                </div>
                <button class="nav-link" style="border-radius: 2em;" id="pills-profile-tab" data-bs-toggle="pill"
                    data-bs-target="#pills-profile" type="button"> + Controles
                </button>

                <!-- ! **** -->
                <!-- Generation de page  -->
                <button class="btn btn-primary" style="margin-left: 10px;" data-bs-toggle="dropdown" data-toggle="tab">+
                    Generer une page</button>
                <ul class="dropdown-menu" style="padding: 20px; border-radius: 2em;width: max-content;">
                    <div class="">

                        <input type="text" class="form-control name_page" id="floatingInput" name="user_name"
                            placeholder="nom de la page">
                    </div>
                    <form action="/generate-page/{{user_name}}" method="post">
                        <input type="hidden" id="show_page" name="generate_page__object" value=''>
                        <button type="submit" class="generate_page s_btn nav-item btn btn-primary w-100"
                            style="border-radius: 2em;" onclick="generate_page()">+</button>
                    </form>

                </ul>
                <!--  -->
                <button class="btn" onclick="redirect_dashboard()"
                    style="margin-left: 5px; border-radius: 2em; background-color: #c4c4c4;">Retour <span
                        class="badge badge-pill badge-warning shadow-warning"></span></button>

        </div>
    </div>
    <!-- QUestion  -->
    <div class="container_app">

        <div class="tab-content" id="pills-tabContent" style="padding: 8px;">


            <div class="tab-pane fade show active" id="pills-home" role="tabpanel" tabindex="0">
                <div class="all_questions">
                    <div class="accordion accordion-flush" id="accordionPanelsStayOpenExample">
                        <div class="accordion-item">
                            <h2 class="accordion-header">
                                <button class="accordion-button btn_f_visual" style="border-radius: 2em;" type="button"
                                    data-bs-toggle="collapse" data-bs-target="#panelsStayOpen-collapseOne"
                                    aria-expanded="true" aria-controls="panelsStayOpen-collapseOne">
                                    Tous les questions !
                                </button>
                            </h2>
                            <div id="panelsStayOpen-collapseOne" class="accordion-collapse collapse show">
                                <div class="row">
                                    {% for question_ in all_questions_user %}
                                    {% set indice_w = 0 %}
                                    {% if indice_w == 0 %}
                                    {% set indice_w = 1 %}
                                    <div class="col-sm-6 mb-3 mb-sm-0">
                                        <div class="card" style="margin: 20px;">
                                            <div class="card-header question"
                                                style="padding: 20px;display: flex;align-items: center;">
                                                <!-- ! Button qui stocke l'id de la question -->
                                                <input class="form-check-input question_check__" type="checkbox"
                                                    value="{{question_.id}}" style="margin: 10px;">
                                                <div class="btn-group" role="group">
                                                    <form action="/modify_question/{{question_.id}}/{{user_name}}"
                                                        method="post">
                                                        <div class="question">
                                                            <button type="submit " class="delete-button btn btn-success"
                                                                style="border-radius: 2em; margin-right: 5px;">modifier</button>
                                                            <input type="hidden" name="id_question"
                                                                value="{{question_.id}}">
                                                        </div>
                                                    </form>
                                                    <form action="/remove_question/{{user_name}}" method="post">
                                                        <div class="question">
                                                            <button type="submit" class="delete-button btn btn-danger"
                                                                style="border-radius: 2em;margin-right: 5px;">Supprimer</button>
                                                            <input type="hidden" name="id_question"
                                                                value="{{question_.id}}">
                                                        </div>
                                                    </form>
                                                    
                                                </div>
                                                {% for thematique_ in question_.thematique %}
                                                <div class="badge text-bg-info" style="margin-right: 2px;">{{thematique_}}</div>
                                                {% endfor %}
                                                <!-- <div class="thematique_card" style="display: flex;align-items: center;justify-content: center;height: 100%;">
                                                   

                                                </div> -->
                                            </div>
                                            <textarea readonly name="content_space_enonce" id="enonce_champ"
                                                class="enonce_champ" cols="30" rows="10"
                                                style="display: none;">{{question_.enonce}}</textarea>
                                            <div class="container" style="margin: 5px;">
                                                <p
                                                    style="padding: 20px;background-color: #ffcc0040;border-radius: 2em;">
                                                    <span style="font-weight: bolder;">Enonce ( Id ) :
                                                    </span>{{question_.id}}
                                                </p>
                                            </div>
                                            <div class="visual_data card-text" id="visual_data" style="padding: 20px; ">

                                            </div>
                                            <div class="proposition_container" style="padding: 20px;">
                                                <h1>Propostions :</h1>
                                                {% for proposition_ in question_.propositions %}
                                                <div class="input-group mb-3">
                                                    <div class="input-group-text">
                                                        {% if proposition_ in question_.reponses %}
                                                        <input class="form-check-input mt-0" type="checkbox" value=""
                                                            aria-label="Checkbox for following text input" disabled
                                                            checked>
                                                        {% else %}
                                                        <input class="form-check-input mt-0" type="checkbox" value=""
                                                            aria-label="Checkbox for following text input" disabled>
                                                        {% endif %}
                                                    </div>
                                                    <input type="text" class="form-control"
                                                        aria-label="Text input with checkbox"
                                                        placeholder="{{proposition_}}" disabled>
                                                </div>
                                                {% endfor %}
                                            </div>
                                        </div>
                                    </div>
                                    {% else %}
                                    <div class="col-sm-6">
                                        <div class="card" style="margin: 20px;">
                                            <div class="card-header question" style="padding: 20px;">
                                                <!-- ! Button qui stocke l'id de la question -->
                                                <input class="form-check-input question_check__" type="checkbox"
                                                    value="{{question_.id}}">
                                                <div class="btn-group" role="group">
                                                    <form action="/modify_question/{{question_.id}}/{{user_name}}"
                                                        method="post">
                                                        <div class="question">
                                                            <button type="submit " class="delete-button btn btn-success"
                                                                style="border-radius: 2em; margin-right: 5px;">modifier</button>
                                                            <input type="hidden" name="id_question"
                                                                value="{{question_.id}}">
                                                        </div>
                                                    </form>
                                                    <form action="/remove_question/{{user_name}}" method="post">
                                                        <div class="question">
                                                            <button type="submit" class="delete-button btn btn-danger"
                                                                style="border-radius: 2em;margin-right: 5px;">Supprimer</button>
                                                            <input type="hidden" name="id_question"
                                                                value="{{question_.id}}">
                                                        </div>
                                                    </form>
                                                </div>
                                            </div>
                                            <textarea readonly name="content_space_enonce" id="enonce_champ"
                                                class="enonce_champ" cols="30" rows="10"
                                                style="display: none;">{{question_.enonce}}</textarea>
                                            <div class="container" style="margin: 5px;">
                                                <p
                                                    style="padding: 20px;background-color: #ffcc0040;border-radius: 2em;">
                                                    <span style="font-weight: bolder;">Enonce ( Id ) :
                                                    </span>{{question_.id}}
                                                </p>
                                            </div>
                                            <div class="visual_data card-text" id="visual_data" style="padding: 20px; ">

                                            </div>
                                            <div class="proposition_container" style="padding: 20px;">
                                                <h1>Propostions :</h1>
                                                {% for proposition_ in question_.propositions %}
                                                <div class="input-group mb-3">
                                                    <div class="input-group-text">
                                                        {% if proposition_ in question_.reponses %}
                                                        <input class="form-check-input mt-0" type="checkbox" value=""
                                                            aria-label="Checkbox for following text input" disabled
                                                            checked>
                                                        {% else %}
                                                        <input class="form-check-input mt-0" type="checkbox" value=""
                                                            aria-label="Checkbox for following text input" disabled>
                                                        {% endif %}
                                                    </div>
                                                    <input type="text" class="form-control"
                                                        aria-label="Text input with checkbox"
                                                        placeholder="{{proposition_}}" disabled>
                                                </div>
                                                {% endfor %}
                                            </div>
                                        </div>
                                    </div>
                                    {% set indice_w = 0 %}
                                    {% endif %}
                                    {% endfor %}
                                </div>
                            </div>
                        </div>
                        <div class="accordion-item">
                            <h2 class="accordion-header">
                                <button class="accordion-button collapsed" style="border-radius: 2em;" type="button"
                                    data-bs-toggle="collapse" data-bs-target="#panelsStayOpen-collapseTwo"
                                    aria-expanded="false" aria-controls="panelsStayOpen-collapseTwo">
                                    Resultat recherches
                                </button>
                            </h2>
                            <div id="panelsStayOpen-collapseTwo" class="accordion-collapse collapse">
                                <div class="row search_zone">

                                </div>
                            </div>
                        </div>
                    </div>


                </div>

            </div>
            <div class="tab-pane fade" id="pills-profile" role="tabpanel" tabindex="0" style="padding: 40px;">
                <!-- <h4> Interface generation de controles </h2>  -->


                <div class="tab-pane fade show active" id="pills-home" role="tabpanel" tabindex="0">
                    <div class="banner_logo">

                        <div class="container_f" style="padding: 50px;">
                            <h2>Espace - <span style="font-weight: lighter;">Generation de controles</span> </h2>
                        </div>
                    </div>
                    <div class="alert " role="alert" style="border-radius: 2em;padding: 20px;margin: 10px;">
                        <span style="font-weight: bolder;">Instruction : </span> <br>
                        <span style="font-weight: bolder;"> 1)</span> Choix nombres de sujets <br>
                        <span style="font-weight: bolder;"> 2)</span> Selection des thématiques avec leur nombres d'exo
                    </div>



                </div>

                <span class="badge rounded-pill" style="border-radius: 2em; margin: 5px;"><input type="number"
                        class="form-control" id="nbr_sujets" style="border-radius: 2em; margin: 5px;"
                        placeholder="nombre de sujets"></span>
                <span class="badge rounded-pill" style="border-radius: 2em; margin: 5px;"><input type="number"
                        class="form-control" id="nbr_questions" style="border-radius: 2em; margin: 5px;"
                        placeholder="nombre de questions"></span>
                <div class="btn-group" data-toggle="buttons">
                    <select class="form-select type_of_sujet" name="type_order" style="border-radius: 2em;">
                        <option selected>Mélanger les questions ou pas</option>
                        <option value="mix_order">Mélanger</option>
                        <option value="ordered">Dans l'ordre</option>
                    </select>
                </div>

                <span>

                </span>
                <div
                    style="padding: 20px; border-radius: 2em;width: 500px;height: 500px;overflow-y: auto; margin-bottom: 10px;">
                    {% for etiquette_ in all_questions_user_thematique%}
                    <div class="input-group mb-3" style="display: flex;align-items: center;">
                        <span class="input-group-text">
                            <input class="form-check-input thematique_check" style="margin-right: 5px;" type="checkbox"
                                value="{{etiquette_}}">
                            {{etiquette_}} (max : {{stat_thematique[etiquette_]}})
                        </span>
                        <input type="number" class="form-control" style="width: 50px;" id="min_{{etiquette_}}"
                            placeholder="min">
                        <input type="number" class="form-control" style="width: 50px;" id="max_{{etiquette_}}"
                            placeholder="max">
                    </div>



                    {% endfor %}

                </div>
                <form action="/generate_controle/{{user_name}}" method="post">
                    <input type="hidden" name="nbr_controle" class="nbr_controle">
                    <input type="hidden" name="nbr_questions" class="nbr_questions">


                    <input type="hidden" name="type_order" id="type_order_s">
                    <input type="hidden" name="data_controle" id="generate_controle_i">
                    <button type="submit" class="btn btn-primary" onclick="generate_controle()"> + Generer </button>
                </form>




            </div>

        </div>
    </div>
</body>
<script>

    let redirect_dashboard = () => {
        url = window.location.href.split("/")
        window.location.replace(url[0] + "/dashboard/enseignant/" + url[url.length - 1])
    }
</script>
<script>

    let socket = io.connect();
    let search_engine = () => {
        let obj_ = {
            "user_name": document.getElementById("owner_page").innerText,
            "search_items": _search_by_thematique()
        }
        socket.emit("search_by_theme", obj_)
    }

    socket.on("search_by_theme", (search_question_data) => {
        // le template qui serra injectée dans la page 
        console.log(search_question_data);
        $(".search_zone").empty()
        $(".search_zone").append("<h1 style='margin-left: 8px;'>" + _search_by_thematique() + "</h1>")
        let template_page_ = `<div class="row">`
        for (let id_ in Object.values(search_question_data)) {
            // L'object question 
            let question_ = search_question_data[id_]

            // console.log(question_);
            // L'indice pour changer card en grid 
            let indice_tr = 0
            if (indice_tr == 0) {
                indice_tr = 1
                // 
                template_page_ += `<div class="col-sm-6 mb-3 mb-sm-0">
                                <div class="card" style="margin: 20px;">
                                    <div class="card-header question" style="padding: 20px;display: flex;align-items: center;">
                                        <input class="form-check-input question_check__" type="checkbox" value="${question_.id}"
                                            style="margin: 10px;">
                                        <div class="btn-group" role="group">
                                            <form action="/modify_question/${question_.id}/{{user_name}}" method="post">
                                                <div class="question">
                                                    <button type="submit " class="delete-button btn btn-success"
                                                        style="border-radius: 2em; margin-right: 5px;">modifier</button>
                                                    <input type="hidden" name="id_question" value="${question_.id}">
                                                </div>
                                            </form>
                                            <form action="/remove_question/{{user_name}}" method="post">
                                                <div class="question">
                                                    <button type="submit" class="delete-button btn btn-danger"
                                                        style="border-radius: 2em;margin-right: 5px;">Supprimer</button>
                                                    <input type="hidden" name="id_question" value="${question_.id}">
                                                </div>
                                            </form>
                                        </div>
                                    </div>
                                    <textarea readonly name="content_space_enonce" id="enonce_champ" class="enonce_champ" cols="30" rows="10"
                                        style="display: none;">${question_.enonce}</textarea>
                                    <div class="container" style="margin: 5px;">
                                        <p style="padding: 20px;background-color: #ffcc0040;border-radius: 2em;"> <span
                                                style="font-weight: bolder;">Enonce ( Id ) : </span>${question_.id}</p>
                                    </div>
                                    <div class="visual_data card-text" id="visual_data" style="padding: 20px; ">

                                    </div>
                                    <div class="proposition_container" style="padding: 20px;">
                                        <h1>Propostions :</h1>`
                question_.propositions.forEach(proposition_ => {
                    // console.log(proposition_);
                    // 
                    template_page_ += `<div class="input-group mb-3">
                                                    <div class="input-group-text">`

                    // 

                    if (question_.reponses.includes(proposition_)) {

                        // 

                        template_page_ += `<input class="form-check-input mt-0" type="checkbox" value=""
                                                            aria-label="Checkbox for following text input" disabled checked>`
                        // 
                    }
                    else {
                        template_page_ += `<input class="form-check-input mt-0" type="checkbox" value=""
                                                            aria-label="Checkbox for following text input" disabled>`

                    }
                    template_page_ += `</div>
                                                    <input type="text" class="form-control" aria-label="Text input with checkbox"
                                                        placeholder="${proposition_}" disabled>
                                                </div>`

                });

                template_page_ += ` </div>
                                        </div>
                                    </div>`
            }
            else {
                indice_tr = 0
                // 
                template_page_ += `<div class="col-sm-6">
                                <div class="card" style="margin: 20px;">
                                    <div class="card-header question" style="padding: 20px;display: flex;align-items: center;">
                                        <input class="form-check-input question_check__" type="checkbox" value="${question_.id}"
                                            style="margin: 10px;">
                                        <div class="btn-group" role="group">
                                            <form action="/modify_question/${question_.id}/{{user_name}}" method="post">
                                                <div class="question">
                                                    <button type="submit " class="delete-button btn btn-success"
                                                        style="border-radius: 2em; margin-right: 5px;">modifier</button>
                                                    <input type="hidden" name="id_question" value="${question_.id}">
                                                </div>
                                            </form>
                                            <form action="/remove_question/{{user_name}}" method="post">
                                                <div class="question">
                                                    <button type="submit" class="delete-button btn btn-danger"
                                                        style="border-radius: 2em;margin-right: 5px;">Supprimer</button>
                                                    <input type="hidden" name="id_question" value="${question_.id}">
                                                </div>
                                            </form>
                                        </div>
                                    </div>
                                    <textarea readonly name="content_space_enonce" id="enonce_champ" class="enonce_champ" cols="30" rows="10"
                                        style="display: none;">${question_.enonce}</textarea>
                                    <div class="container" style="margin: 5px;">
                                        <p style="padding: 20px;background-color: #ffcc0040;border-radius: 2em;"> <span
                                                style="font-weight: bolder;">Enonce ( Id ) : </span>${question_.id}</p>
                                    </div>
                                    <div class="visual_data card-text" id="visual_data" style="padding: 20px; ">

                                    </div>
                                    <div class="proposition_container" style="padding: 20px;">
                                        <h1>Propostions :</h1>`
                for (let proposition_ in question_.proposition) {
                    // 
                    template_page_ += `<div class="input-group mb-3">
                                                    <div class="input-group-text">`

                    // 
                    if (proposition_ in question_.reponses) {
                        // 

                        template_page_ += `<input class="form-check-input mt-0" type="checkbox" value=""
                                                            aria-label="Checkbox for following text input" disabled checked>`
                        // 
                    }
                    else {
                        template_page_ += `<input class="form-check-input mt-0" type="checkbox" value=""
                                                            aria-label="Checkbox for following text input" disabled>`

                    }
                    template_page_ += `</div>
                                                    <input type="text" class="form-control" aria-label="Text input with checkbox"
                                                        placeholder="{{proposition_}}" disabled>
                                                </div>`
                }

                //
                template_page_ += ` </div>
                                        </div>
                                    </div>`
                // 
            }

        }
        $(".search_zone").append(template_page_)
        visual_engine()

    })


    mermaid.initialize({
        startOnLoad: true
    });

    function renderMermaid() {
        mermaid.init(undefined, document.querySelectorAll(".language-mermaid"));
    }
    window.onload = function () {
        visual_engine();
    }
    let visual_engine = () => {

        // Obtenir le code HTML généré
        for (let i = 0; i < document.getElementsByClassName("enonce_champ").length; i++) {
            let enonce_value = document.getElementsByClassName("enonce_champ")[i]
            document.getElementsByClassName("visual_data")[i].innerHTML = marked.parse(enonce_value.value)
        }
        renderMermaid();
        document.querySelectorAll('pre code').forEach((el) => {
            hljs.highlightElement(el);
        });
    }



    // Autoriser les popover
    const popoverTriggerList = document.querySelectorAll('[data-bs-toggle="popover"]')
    const popoverList = [...popoverTriggerList].map(popoverTriggerEl => new bootstrap.Popover(popoverTriggerEl))
</script>

</html>