<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0-alpha1/dist/css/bootstrap.min.css" rel="stylesheet"
        integrity="sha384-GLhlTQ8iRABdZLl6O3oVMWSktQOp6b7In1Zl3/Jr59b6EGGoI1aFkw7cmDA6j6gD" crossorigin="anonymous">
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0-alpha1/dist/js/bootstrap.bundle.min.js"
        integrity="sha384-w76AqPfDkMBDXo30jS1Sgez6pr3x5MlQ1ZAGC+nuZB+EYdgRZgiwxhTBTkF7CXvN"
        crossorigin="anonymous"></script>
    <link rel="stylesheet" href="/static/css/dashboard.css">
    <script src="../../static/public/js/app.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.6.3/jquery.min.js"></script>
    <link rel="stylesheet" href="//cdnjs.cloudflare.com/ajax/libs/highlight.js/11.7.0/styles/default.min.css">
    <script src="//cdnjs.cloudflare.com/ajax/libs/highlight.js/11.7.0/highlight.min.js"></script>
    <!-- <script src="https://cdn.jsdelivr.net/npm/mathjax@3/es5/tex-mml-chtml.js"></script> -->
    <script src="https://cdn.jsdelivr.net/npm/marked/marked.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/mermaid/9.3.0/mermaid.min.js"></script>
</head>
<title>Dashboard {{user_name}}</title>
</head>

<body>
    <div class="header">
        <div class="logo_header">
            <img src="/static/img/clipboard.png" alt="photo_de_profile">
            <div class="info_">
                <h1>{{user_name}}</h1>
                <p>
                    <em>@{{user_name}}_Enseigant</em>
                </p>
            </div>
        </div>
        <button class="btn" onclick="redirect_dashboard()"
                    style="margin-left: 5px; border-radius: 2em; background-color: #c4c4c4;">Retour <span
                        class="badge badge-pill badge-warning shadow-warning"></span></button>

    </div>
    <div class="container_app">
        <div class="tab-content" id="pills-tabContent">
            <div class="tab-pane fade show active" id="pills-home" role="tabpanel" tabindex="0">
                <div class="banner_logo">
                    <!-- <div class="container_info" style="display: flex;align-items: center;">
                            <img src="/static/img/457.svg" alt="" height="200px" width="200px">
                            <div class="container_banner_note">
                                <h3>Note : </h3>
                                <p>Précision sur la modification de question !</p>
                                <p>Un enoncé modifie suppose que toute la question doit etre changer <br> pour la cohérence de la question </p>
                            </div>

                        </div> -->
                </div>
                <!-- ! S'affiche quand le bouton qcm est cliqué  -->
                <div class="question_interface">
                    <div class="form_question">
                        <h3>Modification: Q :{{question_object_before.Id_question}}</h3>
                        <div class="container_question_info">
                            <div>
                                <input type="hidden" name="content_space" id="champ_hidden_render" value="">
                                <button class="fonctionality_ apercu" onclick="visual_engineAffiche()">Apercu </button>
                            </div>
                            <select class="form-select choice_typeQUestion" style="width: min-content;">
                                <option selected value="None">Choix du type de question </option>
                                <option value="qcm">QCM</option>
                                <option value="qcu">QCU</option>
                                <option value="QN">Question Numerique</option>
                                <option value="QO">Question Ouvert</option>  <!--dernier modification ici-->

                            </select>
                        </div>
                        <div class="container_enonce">
                            <h4 class="title_">Enonce</h4>
                            <textarea name="content_space_enonce" id="enonce_champ" cols="30"
                                rows="10">{{question_object_before.Enonce}}</textarea>
                        </div>
                        <h4 class="title_">Proposition</h4>
                        <div id="container_questions">
                            {% set indice_q = 0 %}
                            {% for question_info in question_object_before.Q_proposition%}
                            <div class="question_container">
                                <input type="checkbox" id="question_true{{indice_q}}" name="question_true{{indice_q}}"
                                    class="form-check-input proposition_checked" value="">
                                <input name="question{{indice_q}}" id="question{{indice_q}}" type="text"  value="{{question_info}}"
                                    class="form-control proposition question">
                                <button class="input-group-text" onclick="removeQuestion(this)">Supprimer</button>
                            </div>
                            {% set indice_q = indice_q + 1 %}
                            {% endfor %}
                        </div>
                        <h4 class="submit_btn add_question" onclick="addQuestion()">+ ajouter </h4>
                        <h4 class="title_">Choix des thématiques</h4>
                        <div class="contaier_thematique"> {% for etiquette_ in all_questions_user_thematique%} <div
                                class="form-check">
                                <input class="form-check-input thematique_checked" type="checkbox"
                                    value="{{etiquette_}}" id="flexCheckDefault">
                                <label class="form-check-label" for="flexCheckDefault">
                                    {{etiquette_}}
                                </label>
                            </div> {% endfor %} <h4 class="title_">thématiques</h4>
                            <div id="container_thematique">
                                {% for question_info in question_object_before.E_thematique%}
                                <div class="form-check">
                                    <input class="form-check-input thematique_checked" type="checkbox"
                                        value="{{question_info}}" id="flexCheckDefault">
                                    <label class="form-check-label" for="flexCheckDefault">
                                        {{question_info}}
                                    </label>
                                </div> {% endfor %}
                            </div>
                            <h4 class="submit_btn add_question" onclick="addThematique()">+ ajouter </h4>
                            <div>
                                <form action="/modify_question/{{question_object_before.Id_question}}/{{user_name}}"
                                    method="post" class="form_addQuestion">
                                    <input type="hidden" id="add_question" name="question_object" value=''>
                                    <input type="submit" class="title_ add_question" value="+ Modifier"
                                        onclick="SendQuestion()">
                                </form>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="visual_engine" style="display: none;">
                <div class="info_current_user">
                    <h1>Visual Engine <span class="badge rounded-pill text-bg-danger hide-btn" style="cursor: pointer;"
                            onclick="hide_visual_engine()">X</span>
                    </h1>
                    <p>
                        <em>@{{user_name}}</em>
                        <span style="padding: 5px;background-color: rgb(243, 57, 57);border-radius: 2em;"> Note :
                            Cliquez sur X pour quitter la visualisation</span>
                    </p>
                </div>
                <div class="container_print_data" id="visual_data"></div>
            </div>
        </div>
</body>
<script>
    let redirect_dashboard = () => {
        url = window.location.href.split("/")
        window.location.replace(url[0] + "/database/question/enseignant/" + url[url.length - 1])
    }
    mermaid.initialize({
        startOnLoad: true
    });

    function renderMermaid() {
        mermaid.init(undefined, document.querySelectorAll(".language-mermaid"));
    }
    let affiche_interface_question = () => {
        const question_interface = document.querySelector(".question_interface");
        if (question_interface.style.display === "none") {
            question_interface.style.display = "flex";
        } else {
            question_interface.style.display = "none";
        }
    }
</script>
<script>
    let visual_engine = () => {
        let enonce_value = document.getElementById("enonce_champ")
        let rendered_ = enonce_value.value + "\n"
        // Rajout des propositions
        let propositions = document.getElementsByClassName("proposition")
        let propositions_message = "### Propositions de reponses : " + " <br> \n "
        rendered_ += propositions_message
        for (let i = 0; i < propositions.length; i++) {
            template_ = "<div class='input-group mb-3'><div class='input-group-text'><input class='form-check-input mt-0' type='checkbox'   aria-label='Checkbox for following text input' disabled></div><input type='text' class='form-control' aria-label='Text input with checkbox' placeholder='" + propositions[i].value + "' disabled></div>"

            let temp_ = template_
            rendered_ += temp_ + "  <br> "
        }
        document.getElementById("visual_data").innerHTML = marked.parse(rendered_)
        renderMermaid();
        document.querySelectorAll('pre code').forEach((el) => {
            hljs.highlightElement(el);
        });
        // parseLatex()
    }
    // const hideBtn = document.querySelector(".hide-btn");
    const myDiv = document.querySelector(".visual_engine");
    let visual_engineAffiche = () => {
        const myDiv = document.querySelector(".visual_engine");
        myDiv.style.display = "flex";
        myDiv.style.position = "fixed";
        myDiv.style.top = 0;
        myDiv.style.bottom = 0;
        myDiv.style.left = 0;
        myDiv.style.right = 0;
        myDiv.style.backdropfilter = "10px"
        visual_engine()
    }
    let hide_visual_engine = () => {
        myDiv.style.display = "none";
    }

</script>

</html>