<!Doctype html>
<html>

<head>
  <meta charset="utf-8">
  <title>{{user_name}} - Statistiques</title>
  <link rel="stylesheet" href="style.css" />
  <script src="
      https://cdn.jsdelivr.net/npm/chart.js@4.2.1/dist/chart.umd.min.js
      "></script>
  <meta charset="utf-8">
  <title>Statistique du Live</title>
  <link rel="stylesheet" href="/static/css/dashboard_stat.css" type="text/css">
  <script src="https://cdn.socket.io/3.1.3/socket.io.min.js"
    integrity="sha384-cPwlPLvBTa3sKAgddT6krw0cJat7egBga3DJepJyrLl4Q9/5WLra3rrnMcyTyOnh"
    crossorigin="anonymous"></script>
  <script src="https://cdn.jsdelivr.net/npm/chart.js"></script>
  <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0-alpha1/dist/css/bootstrap.min.css" rel="stylesheet"
    integrity="sha384-GLhlTQ8iRABdZLl6O3oVMWSktQOp6b7In1Zl3/Jr59b6EGGoI1aFkw7cmDA6j6gD" crossorigin="anonymous">
  <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0-alpha1/dist/js/bootstrap.bundle.min.js"
    integrity="sha384-w76AqPfDkMBDXo30jS1Sgez6pr3x5MlQ1ZAGC+nuZB+EYdgRZgiwxhTBTkF7CXvN"
    crossorigin="anonymous"></script>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.6.3/jquery.min.js"></script>

  <link rel="stylesheet" href="/static/css/dashboard.css">
  <!-- <script src="/static/public/js/_live_stream.js"></script> -->
  <script>
    let redirect_dashboard_enseignant = () => {
    url = window.location.href.split("/")
    window.location.replace(url[0] + "/dashboard/enseignant/" + url[url.length -1])
}
  </script>

  <!-- <script src="../../static/public/js/app.js"></script> -->


</head>

<body style="padding: 20px;">
  <div class="container_info"
    style="display: flex;align-items: center; overflow: hidden;padding: 10px;font-size: 50px;">
    <!-- <img src="/static/img/fleche.webp" alt="" height="50px" width="50px"> -->
    <h1 id="owner_live" style="display: none;">{{user_name}}</h1>
    <h6 style="font-size: 30px;">Dashboard <span class="badge text-bg-warning">STATISTIQUE</span> -
      <strong>{{user_name}}</strong></h6>
      <button class="btn" onclick="redirect_dashboard_enseignant()"
      style="margin-left: 5px; border-radius: 2em; background-color: #c4c4c4;">Retour <span
          class="badge badge-pill badge-warning shadow-warning"></span></button>
  </div>
  <div class="container_info" style="padding: 10px;">
    <!-- <div class="alert alert-warning" role="alert">
      
    </div> -->
  </div>
  <div class="accordion" style="">
    <div class="accordion-item">
      <h2 class="accordion-header" id="headingOne">
        <button class="accordion-button" type="button" data-bs-toggle="collapse" data-bs-target="#collapseOne"
          aria-expanded="true" aria-controls="collapseOne">
          <span> Live <span class="badge text-bg-info"> STAT ( <em> <strong> graph </strong> </em> ) </span></span>
        </button>
      </h2>
      <div id="collapseOne" class="accordion-collapse collapse show" aria-labelledby="headingOne"
        data-bs-parent="#accordionExample">
        <div class="accordion-body">
          <div>
            <h1 id="user_nameP" style="display: none;">{{user_name}}</h1>
            <canvas id="myChart"></canvas>
          </div>
        </div>
      </div>
    </div>
    <div class="accordion-item">
      <h2 class="accordion-header" id="headingTwo">
        <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse" data-bs-target="#collapseTwo"
          aria-expanded="false" aria-controls="collapseTwo">
          <span> students -
            <span class="badge rounded-pill text-bg-danger">Live stat</span></span>
        </button>
      </h2>
      <div id="collapseTwo" class="accordion-collapse collapse" aria-labelledby="headingTwo"
        data-bs-parent="#accordionExample">
        <div class="accordion-body">
          <!-- Etudiants -->
          <h2>Etudiants</h2>
          <p>Statistiques Live(s)/SeqLive(s)</p>
          <select class="form-select student_info_select">
            <option value="" selected>Selectioner un etudiant</option>
            {% for student_key, student_value in st_info.items() %}
            <!-- <h1>{{student_key}}</h1> -->
            <option value="{{ student_value['info_student']['numero_etudiant']}}"> {{
              student_value['info_student']['nom'] }} {{
              student_value['info_student']['prenom'] }} </option>
            {% endfor %}
          </select>


          <div class="info_student" style="display:none;padding: 20px;">

          </div>
        </div>
      </div>
    </div>

  </div>

  <!------------->
  <div class="toast-container position-fixed bottom-0 end-0 p-3">
    <div id="liveToast" class="toast" role="alert" aria-live="assertive" aria-atomic="true">
      <div class="toast-header">
        <strong class="me-auto">LiveStream</strong>
        <small class="minutes_clicked"></small>
        <button type="button" class="btn-close" data-bs-dismiss="toast" aria-label="Close"></button>
      </div>
      <div class="toast-body">
        Vous avez stoppée la soumission de réponses !
      </div>
    </div>
  </div>

  <!------------------->


  <script>

  </script>

  <!-- <div class="header">
    <img src="/static/img/fleche.webp" alt="logo_stat">
    <div class="titre">
      <h1>Dashboard Statistiques </h1>
      <h2>Enseignant Responsable : {{user_name}}</h2>
    </div>
  </div> -->


  <!-- <div style="background-color:#A9A9A9; border-radius:9px; padding:10px; text-align:center;" class="stat_live_qlive">
    Statistiques Live(s)/SeqLive(s)</div>

  <div class="diagramme_etudiant">
    <div class="etudiant" style="font-size:25px; padding:20px; font-weight:bold;">
      Diagramme Etudiants
    </div>
  </div>

  <div id="user_name">
    <div style="height: 380px;width: 585px; border-radius:20px; background-color:#DCDCDC;">
      <h1 id="user_nameP" style="display: none;">{{user_name}}</h1>
      <canvas id="myChart"></canvas>
    </div>
  </div>

  <br><br><br>
  <div style="font-size:20px; background-color:#D3D3D3; border-radius:10px; height:40px; padding:5px;" class="question">
    Affichage des resultats des Etudiants </div>
  <div id="question1">
    <div> -->
  <!-- faire la fonction-->

  <!-- <div class="effacer_question">effacer les réponses fournies par les étudiants à une question ou à une séquence</div>
      <form action="" method="get">
        <input type="submit" value="EFFACER" name="effacer">
      </form>
  </div> -->

</body>
<script>
  // import {
  //   io
  // } from "https://cdn.socket.io/4.4.1/socket.io.esm.min.js";
  let socket = io.connect();
  socket.emit("giveData_graph", document.querySelector("#user_nameP").textContent)
  socket.on('giveData_', function (data) {
    // ?  :: [LiveStream -> event(socket)] 
    // f -> nbr_user_connected
    // console.log(data);
    let data_stat_enseignant = [] // [[1ere valeur,2eme valeur],[]]
    for (let i in data) { // i est les cles de chaque sous object
      data_stat_enseignant.push([data[i]["date_live_stream"], data[i]["number_etudiant"]])
    }
    data_stat_enseignant.sort((a, b) => new Date(a[0]) - new Date(b[0]));
    // console.log(data_stat_enseignant);

    var label_date = []
    var label_number_participant = []
    for (let date_and_number in data_stat_enseignant) {
      label_date.push(data_stat_enseignant[date_and_number][0])
      // console.log(data_stat_enseignant[date_and_number][0]);
      label_number_participant.push((data_stat_enseignant[date_and_number][1]))
    }
    const ctx = document.getElementById('myChart');
    new Chart(ctx, {
      type: 'line',
      data: {
        labels: label_date, // temps 
        datasets: [{
          label: 'ETUDIANTS',
          data: label_number_participant, // le nombre de participant
          borderWidth: 1,
          borderColor: "#0dcaf0",

        }]
      },
      options: {
        plugins: {
          title: {
            font: {
              size: 25,
            },
            display: true,
            text: 'nombre de participants aux questions/séquences au cours du temps'
          }
        },
        scales: {
          y: {
            // beginAtZero: true,
            // display: false,
            //  grid: {
            //    display: false,
            // }
            title: {
              font: {
                size: 16,
              },
              display: true,
              text: "nombre de participants aux questions/séquences"
            }
          },
          x: {
            grid: {
              drawOnChartArea: false,
             display: false,
             },
             display: false
            // title: {
            //   font: {
            //     size: 20,
            //   },
            //   display: true,
            //   text: "Temps"
            // }
          }
        },
      }

    });

  });

  let selectElement = document.querySelector('.student_info_select');
  let divToDisplay = document.querySelector('.info_student');
  selectElement.addEventListener('change', function () {
    $(".info_student").empty()
    if (selectElement.value !== '') {
      print_student_info(selectElement.value)
      divToDisplay.style.display = 'block';
    } else {
      divToDisplay.style.display = 'none';
    }
  });

  // f  :: --> afficher les infos d'un etudiant lorsque elle est selectionée
  function create_stat_student(data) {
    let result_div = "<div style='padding:20px';margin:'10px'>";
    let length_q_live_question = (data.q_live).length
    let length_seq_live_question = (data.seq_live).length
    let n1 = 0
    let n2 = 0
    data.q_live.forEach((question) => {

      // console.log(question["answer"] == true);
      if (question["answer"] == true) {
        result_div += `<h4 class="effacer_${n1}">Live <span class="badge text-bg-info" style="border-radius: 2em;">${question.id_live}</span> <span
                style="font-weight: bolder;"> | </span> question <span
                class="badge text-bg-secondary">${question.id_question}</span>
              <span style="font-weight: bolder;"> </span> <span class="badge text-bg-success">Success</span>
              <button type="button" value="${question.id_live}" onclick="effacer(this)" class="button_effacer f_${n1} btn btn-primary">Effacer reponse</button>
            </h4>  `
        n1 += 1


      }


      else if (question["answer"] == false) {

        result_div += `<h4 class="effacer_${n1}">Live <span class="badge text-bg-info" style="border-radius: 2em;">${question.id_live}</span> <span
                style="font-weight: bolder;"> | </span> question <span
                class="badge text-bg-secondary">${question.id_question}</span>
              <span style="font-weight: bolder;"> </span> <span class="badge text-bg-danger">Failed</span>
              <button  type="button" value="${question.id_live}" onclick="effacer(this)" class="button_effacer f_${n1} btn btn-primary">Effacer reponse</button>
            </h4>`
        n1 += 1

      }
    });
    data.seq_live.forEach((question) => {
      result_div += `<h4 class="effacer_${n2}">Live <span class="badge text-bg-info" style="border-radius: 2em;">${question.id_live}</span> <span
                style="font-weight: bolder;"> | </span> question <span
                class="badge text-bg-secondary">${question.id_question}</span>
              <span style="font-weight: bolder;"> </span> <span class="badge text-bg-warning">${question.answer}</span>
              <button  type="button" value="${question.id_live}" onclick="effacer(this)" class="button_effacer f_${n2} btn btn-primary">Effacer reponse</button>
            </h4>`;
      n2 += 1
    });
    result_div += "</div>";
    return result_div;

  }

  let print_student_info = (numero_etudiant) => {
    // give -> info_student obejct 
    socket.emit("giveData_student", {
      "owner_stat": document.querySelector("#owner_live").textContent,
      "numero_etudiant": numero_etudiant,
    })
    socket.on("giveData_student", (data) => {
      // console.log(data);
      $(".info_student").empty()
      $(".info_student").append(create_stat_student(data))
    })
  }

  let effacer = (div) => {
    socket.emit('giveData_effacer', {
      "owner_stat": document.querySelector("#owner_live").textContent,
      "id_live": div.value,

    })
  
    $(`.effacer_${parseFloat(div.classList[1].replace(/[^\d.-]/g,''))}`).remove()

    socket.on("giveData_effacer", (data) => {

    })
  }



</script>


</html>