<!DOCTYPE html>
<html>

<head>

    <script type="text/javascript" src="https://unpkg.com/showdown/dist/showdown.min.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/showdown@1.9.1/dist/showdown.min.js"></script>

    <script src="https://cdn.socket.io/3.1.3/socket.io.min.js"
        integrity="sha384-cPwlPLvBTa3sKAgddT6krw0cJat7egBga3DJepJyrLl4Q9/5WLra3rrnMcyTyOnh"
        crossorigin="anonymous"></script>





    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.2.3/dist/css/bootstrap.min.css" rel="stylesheet">
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.2.3/dist/js/bootstrap.bundle.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.6.3/jquery.min.js"></script>
    <link rel="stylesheet" href="//cdnjs.cloudflare.com/ajax/libs/highlight.js/11.7.0/styles/default.min.css">
    <script src="//cdnjs.cloudflare.com/ajax/libs/highlight.js/11.7.0/highlight.min.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/marked/marked.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/mermaid/9.3.0/mermaid.min.js"></script>
    <script src="https://polyfill.io/v3/polyfill.min.js?features=es6"></script>
    <script src="https://cdn.mathjax.org/mathjax/latest/MathJax.js?config=TeX-AMS_HTML"></script>
    <script src="/static/public/js/_live_stream.js"></script>
    <script src="../../static/public/js/Live.js"></script>

    <style>
        /* Style pour les mots dans le graphique */
        .word {
            font-size: 12px;
            font-weight: bold;
            color: rgb(168, 106, 31);
        }
    </style>
    <script src="https://d3js.org/d3.v7.min.js"></script>


</head>

<body>
    <!-- Correction affichée que lorsque l'enseignant le declenche -->
    <!-- Script pour integrer les outils pour afficher la correction -->

    <input type="hidden" name="" class="numero_etudiant" value="{{user_name}}">
    <input type="hidden" name="" class="type_question_current" value='{{question_obj["type_question"]}}'>



    <div class="correction_section card" style=" padding: 50px;display: none;">
        <h2>{{question_obj["id_question"]}} - <span class="badge text-bg-success"
                style="border-radius: 2em;">correction</span><button onclick="quittCorrection()">X</button></h2>

        <!-- <h1>Correction </h1> -->
        <textarea readonly name="content_space_enonce" id="enonce_champ" class="enonce_champ" cols="30" rows="10"
            style="display: none;">{{question_obj["enonce"]}}</textarea>
        <div class="visual_data card-text" id="visual_data" style="padding: 20px; ">

        </div>
        <div class="proposition_container" style="padding: 20px;">
            {% if type_question != '"QO"' %}
            {% for proposition_ in question_obj["propositions"] %}
            <input type="hidden" name="array_propositions" class="array_proposition"
                value="{{question_obj['propositions'] | join(',')}}">

            <div class="input-group mb-3">
                <div class="input-group-text">
                    {% if proposition_ in question_obj["reponses"] %}
                    <input class="form-check-input mt-0" type="checkbox" value=""
                        aria-label="Checkbox for following text input" disabled checked>
                    {% else %}
                    <input class="form-check-input mt-0" type="checkbox" value=""
                        aria-label="Checkbox for following text input" disabled>
                    {% endif %}
                </div>
                <input type="text" class="form-control" aria-label="Text input with checkbox"
                    placeholder="{{proposition_}}" disabled>
            </div>
            {% endfor %}
            {% else %}
            <svg id="svg_id" width="1000" height="1000"></svg>
            {% endif %}
        </div>

    </div>


    <main class="main_" style="padding: 20px;">
        <input type="hidden" value="{{code_acces}}" name="" class="IdLive_">
        <div class="container"
            style="background-color: rgb(222, 230, 226);padding: 20px; display: flex;border-radius: 3em;align-items: center;  justify-content: center;">
            <h3>Live number: {{code_acces}} </h3>
        </div>

        <div class="container"
            style="background-color: rgba(222, 230, 226, 0.608);width:90vw;height: 80vh; border-radius: 2em;">
            <div class="container mt-4 ">
                <div class="row">
                    <div class="col-sm-4">
                    </div>
                    <div class="col-sm-2  mt-1 p-2 rounded-4"
                        style="background-color: rgb(255, 255, 255); width:100%; height:max-content; overflow: auto;">

                        <div id="ici_1"></div>
                        <div id="ici_4"></div> <!-- à enlever ! -->
                    </div>
                </div>
            </div>
            <div class="container mt-4">
                <div class="row">
                    <div class="col-sm-4"></div>
                    <div class="col-sm-2 mt-1 p-2 rounded-4"
                        style="background-color: rgb(255, 255, 255);width:100%; height:max-content; overflow: auto;">
                        <div id="ici_2"></div>

                    </div>
                </div>
            </div>
            <!-- Formualaire -->
            <div class="container_form" style="display: flex;flex-direction: row; padding: 20px;">
                <form action="/Live/{{user_name}}" method="post" style="margin: 20px;">
                    <input type="hidden" name="user_name" value="{{user_name}}">
                    <input type="hidden" name="code_acces" value="{{code_acces}}">
                    <input type="hidden" id="reponses" name="reponses">
                    <button class="mt-1 btn btn-secondary rounded-4 sub_reponses rp_submit"
                        style="color:black;background-color:rgb(175, 247, 170);width:100px;"
                        onclick="button_checked(JSON.parse(document.getElementById('type_question').value))">Valider</button>
                </form>
                <form action="/quitter_live/etudiant/{{user_name}}" method="post" style="margin: 20px;">
                    <input type="hidden" id="tableau_propositions" value="{{tableau_propositions}}">
                    <input type="hidden" id="enonce" value="{{enonce}}">
                    <input type="hidden" id="type_question" value="{{type_question}}">
                    <input type="hidden" id="code_acces" name="code_acces" value="{{code_acces}}" class="id_live">


                    <!-- <input type="hidden" id="reponse_QO"> -->
                    <input type="hidden" id="reponse_QO_recu">
                    <input type="hidden" id="tableau_propositions_">
                    <button type="submit" class=" mt-1  btn btn-secondary rounded-4 "
                        style="color:black;background-color:rgb(251, 160, 160);width:100px;">Quitter</button>
                </form>

            </div>





        </div>
    </main>


    <script>

        var socket = io.connect();
        let config_room = {
            "etudiant": document.querySelector(".numero_etudiant").value,
            "room": document.querySelector(".id_live").value,
        }
        socket.emit('join_room_live', config_room);
        socket.on('enonce', function () {
            window.location.reload();
        });

        function countOccurrences(arr) {
            let result = [];
            let counts = {};
            for (let i = 0; i < arr.length; i++) {
                let word = arr[i];
                if (counts[word]) {
                    counts[word] += 1;
                } else {
                    counts[word] = 1;
                }
            }
            for (let word in counts) {
                result.push({ word: word, weight: counts[word] });
            }
            return result;
        }

        // ];
        let print_correction_qo = () => {

            $('#svg_id').empty();

            let array___ = JSON.parse(document.getElementById("tableau_propositions_").value)
            // let array___ = document.getElementById("tableau_propositions").value
            console.log("je suis ici dans print_correction_qo")
            console.log(array___);
            // let data = countOccurrences(JSON.parse(array___));
            let data = countOccurrences(array___);

            //  ex:   var data = [
            //   { mot: "chien", poids: 5 },
            //   { mot: "chat", poids: 9 },
            //   { mot: "oiseau", poids: 50 },
            //   { mot: "poisson", poids: 30 },
            //   { mot: "lapin", weight: 1 }]

            console.log(data);

            // Créer l'échelle de taille pour les mots
            var sizeScale = d3.scaleLinear()
                .domain([1, d3.max(data, d => d.weight)])
                .range([10, 50]); // Tailles de police de 10 à 50px

            // Créer le groupe pour les mots
            var wordGroup = d3.select("svg")
                .append("g")
                .attr("transform", "translate(250,250)") // Centrer le groupe
                .selectAll(".word")
                .data(data)
                .enter()
                .append("text")
                .attr("class", "word")
                .text(d => d.word)
                .attr("text-anchor", "middle")
                .attr("transform", d => "translate(" + Math.random() * 400 + "," + Math.random() * 400 + ")") // Position aléatoire
                .style("font-size", d => sizeScale(d.weight) + "px"); // Taille en fonction du poids

        }
        let redirect_dashboard_student = () => {
            url = window.location.href.split("/")
            window.location.replace(url[0] + "/dashboard/etudiant/" + url[url.length - 1])
        }
        socket.on("stop_live_client", (data) => {
            redirect_dashboard_student()
        })

        socket.on('print_correction_answer', (data) => {
            if (data["state_correction"] == "yes") {
                document.querySelector(".correction_section").style["display"] = "flex"

                if ("QO" == JSON.parse(document.getElementById("type_question").value)) {
                    print_correction_qo()
                }
                // visual_engine()
                document.querySelector(".main_").style["display"] = "none"
            }

            else {
                document.querySelector(".correction_section").style["display"] = "flex"
                if ("QO" == JSON.parse(document.getElementById("type_question").value)) {
                    print_correction_qo()
                }
                // visual_engine()
                document.querySelector(".main_").style["display"] = "none"


            }
        })

        // Autoriser les popover
        const popoverTriggerList = document.querySelectorAll('[data-bs-toggle="popover"]')
        const popoverList = [...popoverTriggerList].map(popoverTriggerEl => new bootstrap.Popover(popoverTriggerEl))


        document.addEventListener("DOMContentLoaded", function (event) {

            switch (JSON.parse(document.getElementById("type_question").value)) {
                case 'qcm':
                    var i = 0;
                    console.log("ici")

                    var tableau_propositions_ = JSON.parse(document.getElementById("tableau_propositions").value);
                    traduction_to_affiche()

                    var h1 = document.createElement("h1");
                    h1.textContent = "Proposition: ";
                    document.getElementById("ici_2").appendChild(h1);
                    for (let propositions of tableau_propositions_) {
                        var checkbox = document.createElement("input");
                        checkbox.type = "checkbox";
                        checkbox.id = "reponse_qcm" + i;
                        checkbox.name = propositions;
                        var container2 = document.createElement("div");
                        container2.append(checkbox);
                        var label = document.createElement("label");
                        label.setAttribute("for", checkbox.id);
                        label.textContent = propositions;
                        container2.append(label);
                        document.getElementById("ici_2").appendChild(container2);
                        i++;
                    }

                    break;
                case 'QN':
                    var i = 0;
                    console.log("ici2");

                    var tableau_propositions_ = JSON.parse(document.getElementById("tableau_propositions").value);
                    traduction_to_affiche()

                    var h1 = document.createElement("h1");
                    h1.textContent = "Proposition: "
                    document.getElementById("ici_2").append(h1)

                    var label = document.createElement("input");
                    label.type = "text";
                    label.step = "any";
                    label.id = "reponse_QN";
                    label.name = "reponse_QN";
                    var container2 = document.createElement("div");
                    container2.append(label);
                    document.getElementById("ici_2").appendChild(container2);
                    i++;

                    break;
                case 'qcu':
                    var i = 0;
                    console.log("ici2");
                    var tableau_propositions_ = JSON.parse(document.getElementById("tableau_propositions").value);
                    traduction_to_affiche()

                    var h1 = document.createElement("h1");
                    h1.textContent = "Proposition: ";
                    document.getElementById("ici_2").appendChild(h1);
                    var checked = false;
                    for (let propositions of tableau_propositions_) {
                        var checkbox = document.createElement("input");
                        checkbox.type = "checkbox";
                        checkbox.id = "reponse_qcu" + i;
                        checkbox.name = propositions;
                        checkbox.onclick = function () {
                            if (this.checked) {
                                checked = true;
                                for (let j = 0; j < checkboxes.length; j++) {
                                    if (checkboxes[j] !== this) {
                                        checkboxes[j].disabled = true;
                                    }
                                }
                            } else {
                                checked = false;
                                for (let j = 0; j < checkboxes.length; j++) {
                                    checkboxes[j].disabled = false;
                                }
                            }
                        }
                        var container2 = document.createElement("div");
                        container2.append(checkbox);
                        var label = document.createElement("label");
                        label.setAttribute("for", checkbox.id);
                        label.textContent = propositions;
                        container2.append(label);
                        document.getElementById("ici_2").append(container2);
                        var checkboxes = document.querySelectorAll('input[type=checkbox]');
                        i++;
                    }
                    break;
                case 'QO':
                    var i = 0;
                    console.log("ici5");

                    var tableau_propositions_ = JSON.parse(document.getElementById("tableau_propositions").value);
                    traduction_to_affiche()

                    var h1 = document.createElement("h1");
                    h1.textContent = "Proposition: "
                    document.getElementById("ici_2").append(h1)

                    var input = document.createElement("input");
                    input.type = "text";
                    input.step = "any";
                    input.id = "reponse__QO";
                    input.name = "reponse__QO";
                    var container2 = document.createElement("div");
                    container2.append(input);
                    document.getElementById("ici_2").appendChild(container2);
                    i++;



                    //important pour l'envoie
                    //ajouter la room !
                    socket.emit('message_instantaner', {
                        "msg": "message_envoyer",
                        "_code_acces": document.getElementById("code_acces").value,
                    });

                    break;
                case 'terminer':
                    var enonce = JSON.parse(document.getElementById("enonce").value);
                    console.log("ici3")
                    var h1 = document.createElement("h1");
                    h1.textContent = enonce;
                    h1.style = "color:red;";
                    document.getElementById("ici_1").appendChild(h1)
                    console.log("erreur");
                    break;

                default:
                    console.log("erreur");
                    break;
            }
        });

        const submit_answer_question = document.querySelector(".rp_submit")

        // submit_answer_question.onclick = function () {
        //     let type_q = document.getElementById('type_question').value
        //     button_checked(type_q)

        // };


        function button_checked(type_question) {
            ///cas des checkbox///
            let btn_submit = document.querySelector(".rp_submit")
            if (type_question == 'qcm') {
                var cases = document.querySelectorAll("input[type='checkbox']"); //sa cree un tableau des checkbox
                var valeursCases = [];
                for (var i = 0; i < cases.length; i++) {
                    var caseCourante = cases[i];
                    if (caseCourante.checked) {
                        valeursCases.push(caseCourante.name);
                    }
                }
                document.getElementById("reponses").value = JSON.stringify(valeursCases);
                if (document.getElementById("reponses").value != []) {
                    btn_submit.type = "submit"
                    btn_submit.click()
                }





            }
            else if (type_question == 'QN') {
                ///cas des question_numerique///
                var qcu = document.getElementById("reponse_QN").value;
                var valeursInput = [];
                valeursInput.push(qcu);
                document.getElementById("reponses").value = JSON.stringify(valeursInput);
                if (document.getElementById("reponses").value != []) {
                    btn_submit.type = "submit"
                    btn_submit.click()
                }

            }
            else if (type_question == 'qcu') {
                //case des choix unique
                var checkboxes = document.querySelectorAll('input[type=checkbox]');
                var valeursCases = [];
                for (var i = 0; i < checkboxes.length; i++) {
                    var caseCourante = checkboxes[i];
                    if (caseCourante.checked) {
                        valeursCases.push(caseCourante.name);
                    }
                }
                document.getElementById("reponses").value = JSON.stringify(valeursCases);
                if (document.getElementById("reponses").value != []) {
                    btn_submit.type = "submit"
                    btn_submit.click()
                }


            }
            else if (type_question == 'QO') {
                //cas des question 'question ouvert'
                console.log("ici2_QO");

                var QO = document.getElementById("reponse__QO").value;

                //important pour l'envoie  
                //ajouter la room !!

                socket.emit('message_instantaner', {
                    "msg": "message_envoyer",
                    "_code_acces": document.getElementById("code_acces").value,
                });

                var valeursInput = [];

                valeursInput.push(QO);
                console.log(valeursInput);

                document.getElementById("reponses").value = JSON.stringify(valeursInput);

                if (document.getElementById("reponses").value != []) {
                    btn_submit.type = "submit"
                    btn_submit.click()
                }
            }
            else {
                console.log("erreur");
            }
        }



        //important pour la reception
        socket.on('proposition_instantaner', function (data) {
            console.log('Connecté au serveur');
            console.log(data["proposition_"]);
            tableau_propositions_ = data["proposition_"];   //donc sa c'est une variable global Une variable globale est accessible depuis n'importe quelle ligne de code, qu'elle soit dans une fonction ou non
            console.log(tableau_propositions_);
            document.getElementById("tableau_propositions_").value = JSON.stringify(tableau_propositions_);
            console.log(JSON.parse(document.getElementById("tableau_propositions_").value))
        }, room = document.querySelector(".id_live").value);




    </script>
</body>

</html>