<!DOCTYPE html>
<html>
<head>
    <!-- <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.2.3/dist/css/bootstrap.min.css" rel="stylesheet">
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.2.3/dist/js/bootstrap.bundle.min.js"></script> -->


    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.2.3/dist/css/bootstrap.min.css" rel="stylesheet">
        <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.2.3/dist/js/bootstrap.bundle.min.js"></script>
        <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.6.3/jquery.min.js"></script>
        <link rel="stylesheet" href="//cdnjs.cloudflare.com/ajax/libs/highlight.js/11.7.0/styles/default.min.css">
        <script src="//cdnjs.cloudflare.com/ajax/libs/highlight.js/11.7.0/highlight.min.js"></script>
        <script src="https://cdn.jsdelivr.net/npm/marked/marked.min.js"></script>
        <script src="https://cdnjs.cloudflare.com/ajax/libs/mermaid/9.3.0/mermaid.min.js"></script>
</head>

<body>

<!-- faire des div display qui sont pas afficher. -->




 <main>


    <div class="container rounded-4" style="background-color: rgb(222, 230, 226);width:1200px;height:75px ">
        <div class="container mt-4 ">
            <div class="row">
                <div class="col-sm-3" >   
                    <h3>Live number: {{code_acces}}  </h3>   
                </div>
                <div class="col-sm-3"></div>
            </div>
        </div>
    </div>

    <div class="container rounded-4 "  style="background-color: rgb(222, 230, 226);width:1200px ; height:600px ">
     <form action="/Live/{{user_name}}" method="post">
        <div class="container mt-4 ">
        <div class="row">
            <!-- <div class="container_right col-sm-5">   

                <div class="card">
                        <div style="margin: 10px;padding: 10px;">
                            
                            
                        </div>
                        
                </div>
                        
            </div> -->
                <div class="col-sm-4"></div>
                <div class="col-sm-4  mt-4 p-5 rounded-4"  style="background-color: rgb(255, 255, 255); width:500px ; height:220px "> 
                    <div id="ici_1">
                        <textarea readonly name="content_space_enonce" id="enonce_champ" class="enonce_champ" cols="30" rows="10" style="display: none;">{{enonce}}</textarea>
                            <div class="visual_data card-text" id="visual_data"  style="padding: 20px; ">
                            </div>
                    </div>  
                    
                </div>
                
            </div>
        </div>

        <div class="container mt-4">
            <div class="row">
                <div class="col-sm-4"></div>
                <div class="col-sm-4 mt-4 p-5 rounded-4" style="background-color: rgb(255, 255, 255); width:500px ; height:220px">
                    <div id="ici_2">
                            <!-- <h1>Propostions :</h1> -->
                            {% for proposition_ in tableau_propositions %}
                            <!-- <div class="input-group mb-3">
                                <div class="input-group-text">
                                    
                                        <input class="form-check-input mt-0" type="checkbox" value="{{proposition_}}"  >
                                </div>
                                <input type="text" class="form-control"  placeholder="{{proposition_}}" disabled>
                            </div> -->
                            <div>
                                <input class="proposition" type="checkbox" value="{{proposition_}}" placeholder="{{proposition_}}" >
                                <label for="proposition">{{proposition_}}</label>
                            </div>
                            {% endfor %}
                    </div>
                    
                </div>
            </div>
        </div>
        
        
        <input type="hidden" name="user_name" value="{{user_name}}">
        <input type="hidden" name="code_acces" value="{{code_acces}}">
        <input type="hidden" class="reponses" name="reponses">
        <button type="submit" class="mt-1 btn btn-secondary rounded-4 " style="color:black;background-color:rgb(255, 255, 255);width:100px;" onclick="button_checked()">Valider</button>
    </form>
    
    <form class="">
        <input type="hidden" id="tableau_propositions" value="{{tableau_propositions}}">
        <input type="hidden" id="enonce" value="{{enonce}}">
        <input type="hidden" id="type_question" value="{{type_question}}">
        <button type="button" class=" mt-1  btn btn-secondary rounded-4 " style="color:black;background-color:rgb(255, 255, 255);width:100px;" onclick="donnee_Live()">Next</button>
    </form> 
        
    </div>


 </main>

 <script>

    // function donnee_Live(){

    //     tableau_propositions_ = JSON.parse(document.getElementById("tableau_propositions").value)
    //     enonce = JSON.parse(document.getElementById("enonce").value) 
        
    //         //if(question["type_question"] == "QCM"){
           
    //         var label = document.createElement("label");
    //         label.setAttribute("for","enonce");
    //         label.textContent = enonce;
    //         var container1 = document.createElement("div");
    //         container1.append(label)
    //         document.getElementById("ici_1").append(container1);

    //         for(propositions of tableau_propositions_){

    //             var checkbox = document.createElement("input");
    //             checkbox.type="checkbox";
    //             checkbox.id="reponse_" + i;
    //             checkbox.name= propositions;
    //             var container2 = document.createElement("div");
    //             container2.append(checkbox);
    //             var label = document.createElement("label");
    //             label.setAttribute("for",checkbox.id);
    //             label.textContent = propositions;
    //             container2.append(label);
    //             document.getElementById("ici_2").append(container2);
    //             i++;   
    //         }
    //         //}
    // }

    // Lorsque on arrive dans la page l'event sera declencher.

    // var i = 0;
    // switch(document.getElementById("type_question").value){
    //     case "qcm":
    //         document.addEventListener("DOMContentLoaded", function(event) {
    //         tableau_propositions_ = JSON.parse(document.getElementById("tableau_propositions").value)
    //         enonce = document.getElementById("enonce").value 
            
    //             //if(question["type_question"] == "QCM"){
            
    //             var label = document.createElement("label");
    //             label.setAttribute("for","enonce");
    //             label.textContent = enonce;
    //             var container1 = document.createElement("div");
    //             container1.append(label)
    //             document.getElementById("ici_1").append(container1);

    //             for(propositions of tableau_propositions_){

    //                 var checkbox = document.createElement("input");
    //                 checkbox.type="checkbox";
    //                 checkbox.id="reponse_" + i;
    //                 checkbox.name= propositions;
    //                 var container2 = document.createElement("div");
    //                 container2.append(checkbox);
    //                 var label = document.createElement("label");
    //                 label.setAttribute("for",checkbox.id);
    //                 label.textContent = propositions;
    //                 container2.append(label);
    //                 document.getElementById("ici_2").append(container2);
    //                 i++;   
    //             }
    //         });
    //         break;

    // }

    // var i=0;
    // document.addEventListener("DOMContentLoaded", function(event) {
    //     tableau_propositions_ = JSON.parse(document.getElementById("tableau_propositions").value)
    //     enonce = JSON.parse(document.getElementById("enonce").value) 
        
    //         if(question["type_question"] == "QCM"){
           
    //         var label = document.createElement("label");
    //         label.setAttribute("for","enonce");
    //         label.textContent = enonce;
    //         var container1 = document.createElement("div");
    //         container1.append(label)
    //         document.getElementById("ici_1").append(container1);

    //         for(propositions of tableau_propositions_){

    //             var checkbox = document.createElement("input");
    //             checkbox.type="checkbox";
    //             checkbox.id="reponse_" + i;
    //             checkbox.name= propositions;
    //             var container2 = document.createElement("div");
    //             container2.append(checkbox);
    //             var label = document.createElement("label");
    //             label.setAttribute("for",checkbox.id);
    //             label.textContent = propositions;
    //             container2.append(label);
    //             document.getElementById("ici_2").append(container2);
    //             i++;   
    //         }
    // }});
    
    function button_checked(){
        var cases = document.querySelectorAll("input[type='checkbox']"); //sa cree un tableau des checkbox
        var valeursCases = [];
        for (var i = 0; i < cases.length; i++) {
        var caseCourante = cases[i];
            if (caseCourante.checked) {
                valeursCases.push(caseCourante.value);
            }
        }
        console.log(valeursCases);
        
        document.querySelector(".reponses").value = JSON.stringify(valeursCases);
    }
    



 </script>

</body>

<script>

        
    mermaid.initialize({
        startOnLoad: true
    });

    function renderMermaid() {
        mermaid.init(undefined, document.querySelectorAll(".language-mermaid"));
    }
    window.onload = function() {
        visual_engine();
    }
    let visual_engine = () => {

        // Obtenir le code HTML généré
        for (let i = 0; i < document.getElementsByClassName("enonce_champ").length; i++) {
            let enonce_value = document.getElementsByClassName("enonce_champ")[i]                
            document.getElementsByClassName("visual_data")[i].innerHTML = marked.parse(enonce_value.value)
        }
        renderMermaid();
        document.querySelectorAll('pre code').forEach((el) => {
            hljs.highlightElement(el);
        });
    }
    // Autoriser les popover
    const popoverTriggerList = document.querySelectorAll('[data-bs-toggle="popover"]')
    const popoverList = [...popoverTriggerList].map(popoverTriggerEl => new bootstrap.Popover(popoverTriggerEl))
    
</script>

</html>