<div class="input-group mb-3">
    <div class="input-group-text">
        {% if proposition_ in question_.reponses %}s
        <input class="form-check-input mt-0" type="checkbox" value=""
            aria-label="Checkbox for following text input" disabled checked>
        {% else %}
        <input class="form-check-input mt-0" type="checkbox" value=""
            aria-label="Checkbox for following text input" disabled>
        {% endif %}
    </div>
    <input type="text" class="form-control" aria-label="Text input with checkbox"
        placeholder="{{proposition_}}" disabled>