<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.2.3/dist/css/bootstrap.min.css" rel="stylesheet">
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.2.3/dist/js/bootstrap.bundle.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.6.3/jquery.min.js"></script>
    <link rel="stylesheet" href="//cdnjs.cloudflare.com/ajax/libs/highlight.js/11.7.0/styles/default.min.css">
    <script src="//cdnjs.cloudflare.com/ajax/libs/highlight.js/11.7.0/highlight.min.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/marked/marked.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/mermaid/9.3.0/mermaid.min.js"></script>
    <!-- <link rel="stylesheet" href="/static/css/dashboard_student.css"> -->
    <script src="https://polyfill.io/v3/polyfill.min.js?features=es6"></script>
    <script src="https://cdn.mathjax.org/mathjax/latest/MathJax.js?config=TeX-AMS_HTML"></script>
    <script src="/static/public/js/_live_stream.js"></script>
    <title>Dashboard</title>
</head>

<body style="padding: 50px;">
    <div class="header">
        <div class="menu_dashboard">
            <ul class="nav nav-pills" id="pills-tab" role="tablist">
                <button class="{{active2}} nav-link" style="border-radius: 2em;" id="pills-home-tab"
                    data-bs-toggle="pill" data-bs-target="#pills-home" type="button" aria-controls="pills-home"
                    aria-selected="true">Diffusion - <span class="badge rounded-pill text-bg-danger">Live /
                        Settings</span></button>
                <!-- <button class="nav-link {{active}}" style="border-radius: 2em;" id="pills-profile-tab" data-bs-toggle="pill" data-bs-target="#pills-profile" type="button"  aria-controls="pills-profile" aria-selected="false">Question - Interface</button>     -->
            </ul>
        </div>
    </div>
    <div class="tab-content" id="pills-tabContent">
        <form action="/Live/{{user_name}}/settings" method="post">
            <input type="hidden" name="settings_data_live" id="settings_data_live">

            <div class="tab-pane fade {{show}} {{active2}}" id="pills-home" role="tabpanel" tabindex="0">
                <h1>Settings Live : </h1>
                <div class="alert alert-warning" role="alert">
                    <span style="font-size: large;font-weight: bolder;"> Information : </span> <span>Un Live de type
                        Question Live a au maximum une question</span>
                </div>
                <h5><span class="badge text-bg-info">Choix du type de Live</span></h5>
                <select class="form-select type_live">
                    <option selected value="QLive">Question Live</option>
                    <option value="SeqLive">Sequence Pédagogique</option>
                </select>

                <div class="card text-center" ata-bs-toggle="collapse" style="cursor: pointer;">
                    <div class="card-header">
                        <ul class="nav nav-tabs card-header-tabs">
                            <li class="nav-item">
                                <a class="nav-link active" data-bs-toggle="collapse" href="#content_search"
                                    role="button" aria-expanded="false">Recherche de question </a>
                            </li>
                            <li class="nav-item">
                                <a class="nav-link"><span class="badge text-bg-warning" style="font-size: 16px;"> <--
                                            Cliquez sur recherche de question : Pour chosir la ou les questions a
                                            diffuser</span></a>
                            </li>
                            <li class="nav-item">
                                <button type="submit" class="btn btn-primary" style="border-radius: 2em;"
                                    onclick="start_live()">Lancer le live</button>
                            </li>
                        </ul>
                    </div>
                    <div class="row card-body " id="content_search">
                        {% for question_ in all_questions_user %}
                        {% set indice_w = 0 %}
                        {% if indice_w == 0 %}
                        {% set indice_w = 1 %}
                        <div class="col-sm-6 mb-3 mb-sm-0">
                            <div class="card" style="margin: 20px;">
                                <div class="card-header question"
                                    style="padding: 20px;display: flex;align-items: center;">
                                    <!-- ! Button qui stocke l'id de la question -->
                                    <input class="form-check-input question_check__" type="checkbox"
                                        value="{{question_.id}}" onclick="catch_checked_File(event.target.value)"
                                        onchange="remove_id(event.target)" style="margin: 10px;">
                                    Enonce ( Id ) : </span>{{question_.id}}
                                </div>
                                <textarea readonly name="content_space_enonce" id="enonce_champ" class="enonce_champ"
                                    cols="30" rows="10" style="display: none;">{{question_.enonce}}</textarea>

                                <div class="visual_data card-text" id="visual_data" style="padding: 20px; ">
                                    {{question_.enonce}}
                                </div>
                                <div class="proposition_container" style="padding: 20px;">
                                    <h1>Propostions :</h1>
                                    {% for proposition_ in question_.propositions %}
                                    <div class="input-group mb-3">
                                        <div class="input-group-text">
                                            {% if proposition_ in question_.reponses %}
                                            <input class="form-check-input mt-0" type="checkbox" value=""
                                                aria-label="Checkbox for following text input" disabled checked>
                                            {% else %}
                                            <input class="form-check-input mt-0" type="checkbox" value=""
                                                aria-label="Checkbox for following text input" disabled>
                                            {% endif %}
                                        </div>
                                        <input type="text" class="form-control" aria-label="Text input with checkbox"
                                            placeholder="{{proposition_}}" disabled>
                                    </div>
                                    {% endfor %}
                                </div>
                            </div>
                        </div>
                        {% else %}
                        <div class="col-sm-6">
                            <div class="card" style="margin: 20px;">
                                <div class="card-header question"
                                    style="padding: 20px;display: flex;align-items: center;">
                                    <!-- ! Button qui stocke l'id de la question -->
                                    <input class="form-check-input question_check__" type="checkbox"
                                        value="{{question_.id}}" style="margin: 10px;">
                                    Enonce ( Id ) : </span>{{question_.id}}
                                </div>
                                <textarea readonly name="content_space_enonce" id="enonce_champ" class="enonce_champ"
                                    cols="30" rows="10" style="display: none;">{{question_.enonce}}</textarea>

                                <div class="visual_data card-text" id="visual_data" style="padding: 20px; ">
                                    {{question_.enonce}}
                                </div>
                                <div class="proposition_container" style="padding: 20px;">
                                    <h1>Propostions :</h1>
                                    {% for proposition_ in question_.propositions %}
                                    <div class="input-group mb-3">
                                        <div class="input-group-text">
                                            {% if proposition_ in question_.reponses %}
                                            <input class="form-check-input mt-0" type="checkbox" value=""
                                                aria-label="Checkbox for following text input" disabled checked>
                                            {% else %}
                                            <input class="form-check-input mt-0" type="checkbox" value=""
                                                aria-label="Checkbox for following text input" disabled>
                                            {% endif %}
                                        </div>
                                        <input type="text" class="form-control" aria-label="Text input with checkbox"
                                            placeholder="{{proposition_}}" disabled>
                                    </div>
                                    {% endfor %}
                                </div>
                            </div>
                        </div>
                        {% set indice_w = 0 %}
                        {% endif %}
                        {% endfor %}
                    </div>
                    <!-- <div class=""  >
                                
                            </div> -->
                </div>
            </div>

    </div>

    </form>



    </div>

</body>
<script>


    function parseLatex(latexString) {
        const div = document.createElement('div');
        div.innerHTML = latexString;
        MathJax.Hub.Queue(['Typeset', MathJax.Hub, div]);
        return div.innerHTML;
    }
    function parseAndDisplay(input, i) {
        // const output = document.getElementById("visual_data");
        $(".visual_data")[i].append(parseLatex(input));
    }

    mermaid.initialize({
        startOnLoad: true
    });

    function renderMermaid() {
        mermaid.init(undefined, document.querySelectorAll(".language-mermaid"));
    }
    window.onload = function () {
        visual_engine();
    }
    let visual_engine = () => {

        // Obtenir le code HTML généré
        for (let i = 0; i < document.getElementsByClassName("enonce_champ").length; i++) {
            let enonce_value = document.getElementsByClassName("enonce_champ")[i]
            document.getElementsByClassName("visual_data")[i].innerHTML = marked.parse(enonce_value.value)
        }
        document.querySelectorAll('pre code').forEach((el) => {
            hljs.highlightElement(el);
        });
        renderMermaid();
        document.querySelector('#content_search').classList.add('collapse');

    }
    // Autoriser les popover
    const popoverTriggerList = document.querySelectorAll('[data-bs-toggle="popover"]')
    const popoverList = [...popoverTriggerList].map(popoverTriggerEl => new bootstrap.Popover(popoverTriggerEl))
</script>

</html>