<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">





    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.2.3/dist/css/bootstrap.min.css" rel="stylesheet">
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.2.3/dist/js/bootstrap.bundle.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.6.3/jquery.min.js"></script>
    <link rel="stylesheet" href="//cdnjs.cloudflare.com/ajax/libs/highlight.js/11.7.0/styles/default.min.css">
    <script src="//cdnjs.cloudflare.com/ajax/libs/highlight.js/11.7.0/highlight.min.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/marked/marked.min.js"></script>



    <script src="https://cdnjs.cloudflare.com/ajax/libs/mermaid/9.3.0/mermaid.min.js"></script>
    <!-- <link rel="stylesheet" href="/static/css/dashboard_student.css"> -->
    <script src="https://polyfill.io/v3/polyfill.min.js?features=es6"></script>
    <script src="https://cdn.mathjax.org/mathjax/latest/MathJax.js?config=TeX-AMS_HTML"></script>
    <!-- 
    <script src="/static/public/js/search_engine.js"></script>
    <script src="/static/public/js/_live_stream.js"></script> -->
    <script src="https://cdn.socket.io/3.1.3/socket.io.min.js"></script>



    <title>Dashboard</title>
</head>
<script>



</script>

<body style="padding: 50px;">
    <div class="header">
        <h1 id="owner_page" style="display: none;">{{user_name}}</h1>
        <input type="hidden" name="" class="owner_live" value="{{user_name}}">

        <div class="menu_dashboard">
            <ul class="nav nav-pills" id="pills-tab" role="tablist">
                <button class="{{active2}} nav-link" style="border-radius: 2em;" id="pills-home-tab"
                    data-bs-toggle="pill" data-bs-target="#pills-home" type="button" aria-controls="pills-home"
                    aria-selected="true">Diffusion - <span class="badge rounded-pill text-bg-danger">Live /
                        Settings</span></button>
                <button class="btn" onclick="redirect_dashboard_enseignant()"
                    style="margin-left: 5px; border-radius: 2em; background-color: #c4c4c4;">Retour <span
                        class="badge badge-pill badge-warning shadow-warning"></span></button>
                <!-- <button class="nav-link {{active}}" style="border-radius: 2em;" id="pills-profile-tab" data-bs-toggle="pill" data-bs-target="#pills-profile" type="button"  aria-controls="pills-profile" aria-selected="false">Question - Interface</button>     -->
            </ul>
        </div>
    </div>
    <div class="tab-content" id="pills-tabContent">
        <form action="/Live/{{user_name}}/settings" method="post">
            <input type="hidden" name="settings_data_live" id="settings_data_live">

            <div class="tab-pane fade {{show}} {{active2}}" id="pills-home" role="tabpanel" tabindex="0">
                <h1>Settings Live : </h1>
                <div class="alert alert-warning" role="alert">
                    <span style="font-size: large;font-weight: bolder;"> Information : </span> <span>Un Live de type
                        Question Live a au maximum une question</span>
                </div>
                <h5><span class="badge text-bg-info">Choix du type de Live</span></h5>
                <select class="form-select type_live" style="margin-bottom: 20px;">
                    <option selected value="QLive">Question Live</option>
                    <option value="SeqLive">Sequence Pédagogique</option>
                </select>
            </div>
            <div class="choise_t" style="margin: 20px;">
                <button class="btn" data-bs-toggle="dropdown" data-toggle="tab">
                    <span class="badge rounded-pill text-bg-danger">Choix Thématique </span>
                    <span style="font-size: 20px;font-weight: bolder; margin: 10px;">Recherche par thématique </span>
                </button>
                <ul class="dropdown-menu" style="padding: 20px; border-radius: 2em;width: max-content;">
                    {% for
                    etiquette_ in all_questions_user_thematique%}
                    <div class="form-check" style="margin: 3px;">
                        <input class="form-check-input thematique_checked" type="checkbox" value="{{etiquette_}}"
                            id="flexCheckDefault">
                        <label class="form-check-label" for="flexCheckDefault">
                            {{etiquette_}}
                        </label>
                    </div>
                    {% endfor %}
                    <div class="form_search">
                        <!-- <input type="hidden" name="search_items" id="search_items"> -->
                        <input class="s_btn nav-item btn btn-primary w-100 search_btn" style="border-radius: 2em;"
                            type="button" value="chercher" onclick="search_engine()">
                    </div>
                </ul>


                <!-- <span class="badge text-bg-warning" style="font-size: 16px;"> <-- Cliquez sur recherche de question :
                        Pour chosir la ou les questions a diffuser</span> -->
                <button type="submit" class="btn btn-primary" style="border-radius: 2em;" onclick="start_live()">Lancer
                    le live</button>

            </div>
            <div class="tab-pane fade show active" id="pills-home" role="tabpanel" tabindex="0">
                <div class="all_questions">
                    <div class="accordion accordion-flush" id="accordionPanelsStayOpenExample">
                        <div class="accordion-item">
                            <h2 class="accordion-header">
                                <button class="accordion-button btn_f_visual" style="border-radius: 2em;" type="button"
                                    data-bs-toggle="collapse" data-bs-target="#panelsStayOpen-collapseOne"
                                    aria-expanded="true" aria-controls="panelsStayOpen-collapseOne">
                                    Tous les questions !
                                </button>
                            </h2>
                            <div id="panelsStayOpen-collapseOne" class="accordion-collapse collapse show">
                                <div class="row">
                                    {% for question_ in all_questions_user %}
                                    {% set indice_w = 0 %}
                                    {% if indice_w == 0 %}
                                    {% set indice_w = 1 %}
                                    <div class="col-sm-6 mb-3 mb-sm-0">
                                        <div class="card" style="margin: 20px;">
                                            <div class="card-header question"
                                                style="padding: 20px;display: flex;align-items: center;">
                                                <!-- ! Button qui stocke l'id de la question -->
                                                <input class="form-check-input question_check__" type="checkbox"
                                                    value="{{question_.id}}"
                                                    onclick="catch_checked_File(event.target.value)"
                                                    onchange="remove_id(event.target)" style="margin: 10px;">
                                                Enonce ( Id ) : </span>{{question_.id}}
                                            </div>
                                            <textarea readonly name="content_space_enonce" id="enonce_champ"
                                                class="enonce_champ" cols="30" rows="10"
                                                style="display: none;">{{question_.enonce}}</textarea>

                                            <div class="visual_data card-text" id="visual_data" style="padding: 20px; ">
                                                {{question_.enonce}}
                                            </div>
                                            <div class="proposition_container" style="padding: 20px;">
                                                <h1>Propostions :</h1>
                                                {% for proposition_ in question_.propositions %}
                                                <div class="input-group mb-3">
                                                    <div class="input-group-text">
                                                        {% if proposition_ in question_.reponses %}
                                                        <input class="form-check-input mt-0" type="checkbox" value=""
                                                            aria-label="Checkbox for following text input" disabled
                                                            checked>
                                                        {% else %}
                                                        <input class="form-check-input mt-0" type="checkbox" value=""
                                                            aria-label="Checkbox for following text input" disabled>
                                                        {% endif %}
                                                    </div>
                                                    <input type="text" class="form-control"
                                                        aria-label="Text input with checkbox"
                                                        placeholder="{{proposition_}}" disabled>
                                                </div>
                                                {% endfor %}
                                            </div>
                                        </div>
                                    </div>
                                    {% else %}
                                    <div class="col-sm-6">
                                        <div class="card" style="margin: 20px;">
                                            <div class="card-header question"
                                                style="padding: 20px;display: flex;align-items: center;">
                                                <!-- ! Button qui stocke l'id de la question -->
                                                <input class="form-check-input question_check__" type="checkbox"
                                                    value="{{question_.id}}" style="margin: 10px;">
                                                Enonce ( Id ) : </span>{{question_.id}}
                                            </div>
                                            <textarea readonly name="content_space_enonce" id="enonce_champ"
                                                class="enonce_champ" cols="30" rows="10"
                                                style="display: none;">{{question_.enonce}}</textarea>

                                            <div class="visual_data card-text" id="visual_data" style="padding: 20px; ">
                                                {{question_.enonce}}
                                            </div>
                                            <div class="proposition_container" style="padding: 20px;">
                                                <h1>Propostions :</h1>
                                                {% for proposition_ in question_.propositions %}
                                                <div class="input-group mb-3">
                                                    <div class="input-group-text">
                                                        {% if proposition_ in question_.reponses %}
                                                        <input class="form-check-input mt-0" type="checkbox" value=""
                                                            aria-label="Checkbox for following text input" disabled
                                                            checked>
                                                        {% else %}
                                                        <input class="form-check-input mt-0" type="checkbox" value=""
                                                            aria-label="Checkbox for following text input" disabled>
                                                        {% endif %}
                                                    </div>
                                                    <input type="text" class="form-control"
                                                        aria-label="Text input with checkbox"
                                                        placeholder="{{proposition_}}" disabled>
                                                </div>
                                                {% endfor %}
                                            </div>
                                        </div>
                                    </div>
                                    {% set indice_w = 0 %}
                                    {% endif %}
                                    {% endfor %}

                                </div>

                            </div>
                        </div>
                        <div class="accordion-item">
                            <h2 class="accordion-header">
                                <button class="accordion-button collapsed" style="border-radius: 2em;" type="button"
                                    data-bs-toggle="collapse" data-bs-target="#panelsStayOpen-collapseTwo"
                                    aria-expanded="false" aria-controls="panelsStayOpen-collapseTwo">
                                    Resultat recherches
                                </button>
                            </h2>
                            <div id="panelsStayOpen-collapseTwo" class="accordion-collapse collapse">
                                <div class="row search_zone">
                                </div>
                            </div>
                        </div>
                    </div>


                </div>

            </div>
            <!-- Les questions -->
        </form>
    </div>













</body>
<script>


    // let socket = io.connect();
    let socket = io.connect();



    mermaid.initialize({
        startOnLoad: true
    });

    let search_engine = () => {
        let obj_ = {
            "user_name": document.getElementById("owner_page").innerText,
            "search_items": _search_by_thematique()
        }
        socket.emit("search_by_theme", obj_)
    }
    let array_File_id_question = []
    let catch_all_question_ID = () => {
        let result_stock_idQuestion = array_File_id_question
        return result_stock_idQuestion
    }

    let start_live = () => {
        let object_live_stream = {
            "live_type": document.querySelector(".type_live").value,
            // Tout les questions de la diffusion du live
            "Q_id_selected": catch_all_question_ID()
        }
        console.log(object_live_stream);
        document.querySelector("#settings_data_live").value = JSON.stringify(object_live_stream)

    };

    let redirect_dashboard_enseignant = () => {
        url = window.location.href.split("/")
        window.location.replace(url[0] + "/dashboard/enseignant/" + url[url.length - 2])
    }


    let catch_checked_File = (id_question) => {
        array_File_id_question.push(id_question)
    }
    let remove_id = (current_btn) => {
        if (current_btn.checked == false) {
            console.log(current_btn.checked);
            console.log(current_btn.value);
            let array_result = []
            for (let i = 0; i < array_File_id_question.length; i++) {
                if (array_File_id_question[i] != current_btn.value) {
                    array_result.push(array_File_id_question[i])
                }
            }
            array_File_id_question = array_result

        }
    }

    let _search_by_thematique = () => {
        let array_selected_check = []
        let thematique_checked = document.querySelectorAll('input.thematique_checked[type="checkbox"]:checked');
        for (let i = 0; i < thematique_checked.length; i++) {
            if (thematique_checked[i].checked) {
                array_selected_check.push(thematique_checked[i].value);
            }
        }
        return array_selected_check

    }

    // function genererHTML(questions) {
    //     let html = "";
    //     for (let i = 0; i < questions.length; i++) {
    //         const question = questions[i];
    //         html += "<div class='question'>";
    //         html += "<p class='enonce'>" + question.enonce + "</p>";
    //         if (question.type_question === "qcu") {
    //             for (let j = 0; j < question.propositions.length; j++) {
    //                 const proposition = question.propositions[j];
    //                 html += "<input type='radio' name='question-" + i + "' value='" + proposition + "'>";
    //                 html += "<label for='question-" + i + "-" + j + "'>" + proposition + "</label><br>";
    //             }
    //         } else if (question.type_question === "qcm") {
    //             for (let j = 0; j < question.propositions.length; j++) {
    //                 const proposition = question.propositions[j];
    //                 html += "<input type='checkbox' name='question-" + i + "' value='" + proposition + "'>";
    //                 html += "<label for='question-" + i + "-" + j + "'>" + proposition + "</label><br>";
    //             }
    //         }
    //         html += "</div>";
    //     }
    //     return html;
    // }
    function generateQuestionsHTML(questions) {
        let questionsHTML = "";
        for (let i = 0; i < questions.length; i++) {
            let question = questions[i];
            let questionHTML = `<div class="col-sm-6 mb-3 mb-sm-0">
                            <div class="card" style="margin: 20px;">
                                <div class="card-header question" style="padding: 20px;display: flex;align-items: center;">
                                    <input class="form-check-input question_check__" type="checkbox" value="${question.id}"
                                        onclick="catch_checked_File(event.target.value)" onchange="remove_id(event.target)"
                                        style="margin: 10px;">
                                    Enonce ( Id ) : ${question.id}  </span>
                                </div>
                                <textarea readonly name="content_space_enonce" id="enonce_champ" class="enonce_champ"
                                    cols="30" rows="10" style="display: none;">${question.enonce}</textarea>
                                <div class="visual_data card-text" id="visual_data" style="padding: 20px; ">
                                    ${question.enonce}
                                </div>
                                <div class="proposition_container" style="padding: 20px;">
                                    <h1>Propostions :</h1>
                                    ${propositions_question_generate(question.propositions, question.reponses)}
                                </div>
                            </div>
                        </div>`;
            questionsHTML += questionHTML;
        }
        return questionsHTML;
    }
    let propositions_question_generate = (propositions, reponses) => {
        let propositionsHTML = "";
        for (let i = 0; i < propositions.length; i++) {
            let proposition = propositions[i];
            let isChecked = reponses.includes(proposition) ? "checked" : "";
            let propositionHTML = `<div class="input-group mb-3">
                                <div class="input-group-text">
                                    <input class="form-check-input mt-0" type="checkbox" value="" aria-label="Checkbox for following text input" disabled ${isChecked}>
                                </div>
                                <input type="text" class="form-control" aria-label="Text input with checkbox" placeholder="${proposition}" disabled>
                            </div>`;
            propositionsHTML += propositionHTML;
        }
        return propositionsHTML;
    }

    socket.on("search_by_theme", (search_question_data) => {
        // le template qui serra injectée dans la page 
        console.log(search_question_data);
        $(".search_zone").empty()
        $(".search_zone").append("<h1 style='margin-left: 8px;'>" + _search_by_thematique() + "</h1>")
        let template_page_ = `<div class="row"> ${generateQuestionsHTML(search_question_data)}</div>`
        // for (let id_ in Object.values(search_question_data)) {
        //     // L'object question 
        //     let question_ = search_question_data[id_]

        //     // console.log(question_);
        //     // L'indice pour changer card en grid 
        //     let indice_tr = 0
        //     if (indice_tr == 0) {
        //         indice_tr = 1
        //         // 
        //         template_page_ += `<div class="col-sm-6 mb-3 mb-sm-0">
        //                         <div class="card" style="margin: 20px;">
        //                             <div class="card-header question" style="padding: 20px;display: flex;align-items: center;">
        //                                 <input class="form-check-input question_check__" type="checkbox" value="${question_.id}"
        //                                     style="margin: 10px;">

        //                             </div>
        //                             <textarea readonly name="content_space_enonce" id="enonce_champ" class="enonce_champ" cols="30" rows="10"
        //                                 style="display: none;">${question_.enonce}</textarea>
        //                             <div class="container" style="margin: 5px;">
        //                                 <p style="padding: 20px;background-color: #ffcc0040;border-radius: 2em;"> <span
        //                                         style="font-weight: bolder;">Enonce ( Id ) : </span>${question_.id}</p>
        //                             </div>
        //                             <div class="visual_data card-text" id="visual_data" style="padding: 20px; ">

        //                             </div>
        //                             <div class="proposition_container" style="padding: 20px;">
        //                                 <h1>Propostions :</h1>`
        //         question_.propositions.forEach(proposition_ => {
        //             // console.log(proposition_);
        //             // 
        //             template_page_ += `<div class="input-group mb-3">
        //                                             <div class="input-group-text">`

        //             // 

        //             if (question_.reponses.includes(proposition_)) {

        //                 // 

        //                 template_page_ += `<input class="form-check-input mt-0" type="checkbox" value=""
        //                                                     aria-label="Checkbox for following text input" disabled checked>`
        //                 // 
        //             }
        //             else {
        //                 template_page_ += `<input class="form-check-input mt-0" type="checkbox" value=""
        //                                                     aria-label="Checkbox for following text input" disabled>`

        //             }
        //             template_page_ += `</div>
        //                                             <input type="text" class="form-control" aria-label="Text input with checkbox"
        //                                                 placeholder="${proposition_}" disabled>
        //                                         </div>`

        //         });

        //         template_page_ += ` </div>
        //                                 </div>
        //                             </div>`
        //     }
        //     else {
        //         indice_tr = 0
        //         // 
        //         template_page_ += `<div class="col-sm-6">
        //                         <div class="card" style="margin: 20px;">
        //                             <div class="card-header question" style="padding: 20px;display: flex;align-items: center;">
        //                                 <input class="form-check-input question_check__" type="checkbox" value="${question_.id}"
        //                                     style="margin: 10px;">
        //                                 <div class="btn-group" role="group">
        //                                     <form action="/modify_question/${question_.id}/{{user_name}}" method="post">
        //                                         <div class="question">
        //                                             <button type="submit " class="delete-button btn btn-success"
        //                                                 style="border-radius: 2em; margin-right: 5px;">modifier</button>
        //                                             <input type="hidden" name="id_question" value="${question_.id}">
        //                                         </div>
        //                                     </form>
        //                                     <form action="/remove_question/{{user_name}}" method="post">
        //                                         <div class="question">
        //                                             <button type="submit" class="delete-button btn btn-danger"
        //                                                 style="border-radius: 2em;margin-right: 5px;">Supprimer</button>
        //                                             <input type="hidden" name="id_question" value="${question_.id}">
        //                                         </div>
        //                                     </form>
        //                                 </div>
        //                             </div>
        //                             <textarea readonly name="content_space_enonce" id="enonce_champ" class="enonce_champ" cols="30" rows="10"
        //                                 style="display: none;">${question_.enonce}</textarea>
        //                             <div class="container" style="margin: 5px;">
        //                                 <p style="padding: 20px;background-color: #ffcc0040;border-radius: 2em;"> <span
        //                                         style="font-weight: bolder;">Enonce ( Id ) : </span>${question_.id}</p>
        //                             </div>
        //                             <div class="visual_data card-text" id="visual_data" style="padding: 20px; ">

        //                             </div>
        //                             <div class="proposition_container" style="padding: 20px;">
        //                                 <h1>Propostions :</h1>`
        //         for (let proposition_ in question_.proposition) {
        //             // 
        //             template_page_ += `<div class="input-group mb-3">
        //                                             <div class="input-group-text">`

        //             // 
        //             if (proposition_ in question_.reponses) {
        //                 // 

        //                 template_page_ += `<input class="form-check-input mt-0" type="checkbox" value=""
        //                                                     aria-label="Checkbox for following text input" disabled checked>`
        //                 // 
        //             }
        //             else {
        //                 template_page_ += `<input class="form-check-input mt-0" type="checkbox" value=""
        //                                                     aria-label="Checkbox for following text input" disabled>`

        //             }
        //             template_page_ += `</div>
        //                                             <input type="text" class="form-control" aria-label="Text input with checkbox"
        //                                                 placeholder="{{proposition_}}" disabled>
        //                                         </div>`
        //         }

        //         //
        //         template_page_ += ` </div>
        //                                 </div>
        //                             </div>`
        //         // 
        //     }

        // }

        $(".search_zone").append(template_page_)
        visual_engine()

    })



    function renderMermaid() {
        mermaid.init(undefined, document.querySelectorAll(".language-mermaid"));
    }
    window.onload = function () {
        visual_engine();
        // socket.emit("create_room", { "room": document.querySelector(".IdLive_").value, "owner_room": document.querySelector(".owner_live") })

    }
    let visual_engine = () => {

        // Obtenir le code HTML généré
        for (let i = 0; i < document.getElementsByClassName("enonce_champ").length; i++) {
            let enonce_value = document.getElementsByClassName("enonce_champ")[i]
            document.getElementsByClassName("visual_data")[i].innerHTML = marked.parse(enonce_value.value)
        }
        document.querySelectorAll('pre code').forEach((el) => {
            hljs.highlightElement(el);
        });
        renderMermaid();
        // document.querySelector('#content_search').classList.add('collapse');

    }
    // Autoriser les popover
    const popoverTriggerList = document.querySelectorAll('[data-bs-toggle="popover"]')
    const popoverList = [...popoverTriggerList].map(popoverTriggerEl => new bootstrap.Popover(popoverTriggerEl))

    // let obj__ = {
    //     "username": 'raphael',
    //     "room": "Chambre 1"
    // }
    // socket.emit('join', obj__);
</script>

</html>