<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.2.3/dist/css/bootstrap.min.css" rel="stylesheet">
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.2.3/dist/js/bootstrap.bundle.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.6.3/jquery.min.js"></script>
    <link rel="stylesheet" href="//cdnjs.cloudflare.com/ajax/libs/highlight.js/11.7.0/styles/default.min.css">
    <script src="//cdnjs.cloudflare.com/ajax/libs/highlight.js/11.7.0/highlight.min.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/marked/marked.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/mermaid/9.3.0/mermaid.min.js"></script>
    <link rel="stylesheet" href="/static/css/live_stream_dashboard.css">
    <script src="/static/public/js/_live_stream.js"></script>
    <script src="https://cdn.socket.io/3.1.3/socket.io.min.js"
        integrity="sha384-cPwlPLvBTa3sKAgddT6krw0cJat7egBga3DJepJyrLl4Q9/5WLra3rrnMcyTyOnh"
        crossorigin="anonymous"></script>
    <script src="https://polyfill.io/v3/polyfill.min.js?features=es6"></script>
    <script src="https://cdn.mathjax.org/mathjax/latest/MathJax.js?config=TeX-AMS_HTML"></script>
    <script src="https://cdn.jsdelivr.net/npm/chart.js"></script>
    <title>Dashboard</title>
</head>

<body style="padding: 10px;">
    <!-- L'id Live -->
    <input type="hidden" value="{{current_live.id_uLive}}" name="" class="IdLive_">
    <input type="hidden" name="" class="owner_live" value="{{user_name}}">


    <div class="row">
        <div class="container_left col-sm-6 mb-3 mb-sm-0">


            <div class="statistiques_live " style="">
                <div class="container_header" style="display: flex;margin-bottom: 10px;">
                    <button type="button" class="btn btn-primary position-relative id_live_btn" id="id_btnLive"
                        onclick="showModal()" style="border: 2em;margin-top: 10px;margin-bottom: 10px;"
                        value="{{current_live.id_uLive}}">
                        {{current_live.id_uLive}}
                        <span
                            class="position-absolute top-0 start-100 translate-middle p-2 bg-danger border border-light rounded-circle" style="border-radius: 3em;">
                            <span class="visually-hidden">{{current_live.id_uLive}}</span>
                        </span>
                    </button>
                    <form action="/Live/{{user_name}}/stop" method="post">
                        <input type="hidden" name="type_live" value="QLive">
                        <button type="submit" class="btn btn-danger" style="margin: 10px;border: 2em;">
                            Quitter
                        </button>
                    </form>
                    <button class="btn" onclick="redirect_dashboard()"
                        style="margin-left: 5px; border-radius: 2em; background-color: #c4c4c4;">Retour <span
                            class="badge badge-pill badge-warning shadow-warning"></span></button>
                    <button class="btn" onclick="next_question()"
                        style="margin-left: 5px; border-radius: 2em; background-color: #c4c4c4;">Question suivante <span
                            class="badge badge-pill badge-warning shadow-warning"></span></button>

                </div>
                <div class="alert alert-danger" role="alert" style="border-radius: 3em;">
                    👆 Veuillez cliquer pour agrandir la clé du Live.
                  </div>
                <h2 style="padding: 10px;font-weight: 100;">Statistiques</h2>
                <h1 class="" style="font-size: 26px;background-color: #ffc107;padding: 10px;border-radius: 2em;">
                    Reponses :<span class="nbr_user_answered" style="font-weight: bolder;">
                        {{current_live.number_answered()}}</span></h1>
                <h1 class="" style="font-size: 26px;background-color: #ffc107;padding: 10px;border-radius: 2em;">
                    Connectées : <span class="nbr_user_connected"
                        style="font-weight: bolder; color: #000000;">{{current_live.number_participant()}} </span></h1>

                <h2 style="font-weight: 100;">Tools | <span class="badge rounded-pill text-bg-danger">Live</span></h2>
                <div class="container_f"
                    style="padding: 20px;box-shadow: -6px 10px 100px 100px rgba(0, 0, 0, 0.047);border-radius: 2em;">
                    <div class="form-check form-switch">
                        <input class="form-check-input hide_enonce" type="checkbox" onclick="hide_enonce()"
                            role="switch" id="flexSwitchCheckChecked" value="1">
                        <label class="form-check-label " for="flexSwitchCheckChecked">Cacher l'enonce </label>

                    </div>
                    <div class="form-check form-switch">
                        <input class="form-check-input hide_answer" type="checkbox" onclick="hide_answer()"
                            role="switch" id="flexSwitchCheckChecked">
                        <label class="form-check-label" for="flexSwitchCheckChecked">Cacher les reponses</label>
                    </div>
                    <div>
                        <button type="button" class="btn btn-primary f_btn" onclick="print_answerLive()">Affichage
                            Réponses en direct</button><br>
                        <button type="button" class="btn btn-secondary f_btn stop_answer" onclick="stop_answer()">Stoppe Réponses</button><br>
                        <button type="button" class="btn btn-success f_btn"
                            onclick="print_correction_answer()">Affichage Correction</button><br>
                    </div>
                </div>
                <div class="chart_divAnswer"
                    style="display: none;align-items: center;justify-content: center;padding: 20px;flex-direction: column;background-color: #fff; border-radius: 3em;margin-top: 20px;">
                    <h1 style="background-color: rgb(214, 214, 214);padding: 10px;border-radius: 2em;" type="submit">
                        answer - <span class="badge rounded-pill text-bg-danger">Live</span>
                    </h1>
                    <canvas id="stat_graphic"></canvas>
                </div>

            </div>

        </div>
        <div class="container_right col-sm-5">
            {% if current_live._current_questionLive != None%}
            <div class="card">
                <div style="margin: 10px;padding: 10px;">
                    <textarea readonly name="content_space_enonce" id="enonce_champ" class="enonce_champ" cols="30"
                        rows="10" style="display: none;">{{current_live._current_questionLive.Enonce}}</textarea>
                    <div class="visual_data card-text" id="visual_data" style="padding: 20px; ">
                    </div>
                    <div class="propositions_section">
                        <h1>Propostions :</h1>
                        {% for proposition_ in current_live._current_questionLive.Q_proposition %}
                        <div class="input-group mb-3">
                            <div class="input-group-text">
                                {% if proposition_ in current_live._current_questionLive.Q_reponses%}
                                <input class="form-check-input mt-0" type="checkbox" value=""
                                    aria-label="Checkbox for following text input" disabled checked>
                                {% else %}
                                <input class="form-check-input mt-0" type="checkbox" value=""
                                    aria-label="Checkbox for following text input" disabled>
                                {% endif %}
                            </div>
                            <input type="text" class="form-control" aria-label="Text input with checkbox"
                                placeholder="{{proposition_}}" disabled>
                        </div>
                        {% endfor %}
                    </div>


                </div>
                <!-- <div class="chart_divAnswer"
                    style="display: none;align-items: center;justify-content: center;padding: 20px;flex-direction: column;">
                    <h1 style="background-color: rgb(214, 214, 214);padding: 10px;border-radius: 2em;" type="submit">
                        answer - <span class="badge rounded-pill text-bg-danger">Live</span>
                    </h1>
                    <canvas id="stat_graphic"></canvas>
                </div> -->

            </div>
            {% else %}
            <div class="card">
                <div style="margin: 10px;padding: 10px;">
                    <h1>La diffusion des questions est terminée</h1>
                </div>

            </div>

            {% endif %}





        </div>
    </div>




    <div class="toast-container position-fixed bottom-0 end-0 p-3">
        <div id="liveToast" class="toast" role="alert" aria-live="assertive" aria-atomic="true">
            <div class="toast-header">
                <strong class="me-auto">LiveStream</strong>
                <small class="minutes_clicked"></small>
                <button type="button" class="btn-close" data-bs-dismiss="toast" aria-label="Close"></button>
            </div>
            <div class="toast-body">
                Vous avez stoppée la soumission de réponses !
            </div>
        </div>
    </div>
    <script>
        const toastTrigger = document.querySelector(".stop_answer")
        const toastLiveExample = document.getElementById('liveToast')
        if (toastTrigger) {
            toastTrigger.addEventListener('click', () => {
                const toast = new bootstrap.Toast(toastLiveExample)
                const now = new Date();
                const minutes = now.getMinutes();
                let recent_m = 0
                toast.show()
                document.querySelector(".minutes_clicked").innerHTML = recent_m + " " + "minutes"
                setInterval(() => {
                    document.querySelector(".minutes_clicked").innerHTML = recent_m + 1 + " " + "minutes"
                }, 1000)

            })
        }
    </script>
    <div id="modal" class="modal">
        <div class="modal-content">
            <span class="close" onclick="closeModal()">&times;</span>
            <p id="modal-text" style="font-size: 50px;font-weight: bolder;"></p>
        </div>
    </div>



</body>

<script>
    var socket = io.connect('http://' + document.domain + ':' + location.port);
    mermaid.initialize({
        startOnLoad: true
    });

    function renderMermaid() {
        mermaid.init(undefined, document.querySelectorAll(".language-mermaid"));
    }
    window.onload = function () {
        visual_engine();
        socket.emit("create_room", { "room": document.querySelector(".IdLive_").value, "owner_room": document.querySelector(".owner_live") })
        socket.emit('giveData_answer_Livestream', document.querySelector(".IdLive_").value)

    }
    let visual_engine = () => {

        // Obtenir le code HTML généré
        for (let i = 0; i < document.getElementsByClassName("enonce_champ").length; i++) {
            let enonce_value = document.getElementsByClassName("enonce_champ")[i]
            document.getElementsByClassName("visual_data")[i].innerHTML = marked.parse(enonce_value.value)
        }
        renderMermaid();
        document.querySelectorAll('pre code').forEach((el) => {
            hljs.highlightElement(el);
        });
    }

    // Autoriser les popover
    const popoverTriggerList = document.querySelectorAll('[data-bs-toggle="popover"]')
    const popoverList = [...popoverTriggerList].map(popoverTriggerEl => new bootstrap.Popover(popoverTriggerEl))
    // import { io } from "https://cdn.socket.io/4.4.1/socket.io.esm.min.js";
    // ?  :: [LiveStream -> event(socket)] 
    let next_question = () => {
        socket.emit('next_question', {
            id_live: document.querySelector(".id_live_btn").value,
        });
        window.location.reload();
    }
    // f -> nbr_user_connected
    socket.on('stat_user_connected', function (participants) {
        // Met à jour le contenu de la page avec la liste des participants
        document.querySelector('.nbr_user_connected').innerHTML = participants["nbr_user_connected"];
    });
    // f -> nbr_user_answered 
    socket.on('stat_user_answered', function (data_) {
        // Met à jour le nombre d'etudiant ayant soumis une reponses
        document.querySelector('.nbr_user_answered').innerHTML = data_["nbr_user_answered"];
    });
    // :: -> Afficher la correction -> Etudiant 
    let print_correction_answer = () => {


        socket.emit("print_correction_answer", { "state_correction": "yes", "id_live": document.querySelector(".IdLive_").value })

        //important pour l'envoie
        socket.emit('message_instantaner', {
            "msg": "message_envoyer",
            "_code_acces": document.querySelector(".IdLive_").value  //dernier modification <<H>>
        });
        // socket.emit("print_correction_answer", { "state_correction": "yes", "id_live": document.querySelector(".IdLive_").value }, room = document.querySelector(".IdLive_").value)
    }


    socket.on('giveData_answer_Livestream', function (data_) {
        console.log(data_);

        $("#stat_graphic").remove()
        $(".chart_divAnswer").append('<canvas id="stat_graphic"></canvas>')
        const ctx = document.getElementById('stat_graphic');

        new Chart(ctx, {
            type: 'doughnut',
            data: {
                labels: Object.keys(data_).map(id => id),
                datasets: [{
                    // label: '# of Votes',
                    data: Object.values(data_).map(id => id),
                    backgroundColor: [
                        'rgba(255, 99, 132, 0.2)',
                        'rgba(255, 159, 64, 0.2)',
                        'rgba(255, 205, 86, 0.2)',
                        'rgba(75, 192, 192, 0.2)',
                        'rgba(54, 162, 235, 0.2)',
                        'rgba(153, 102, 255, 0.2)',
                        'rgba(201, 203, 207, 0.2)'
                    ],
                    borderColor: [
                        'rgb(255, 99, 132)',
                        'rgb(255, 159, 64)',
                        'rgb(255, 205, 86)',
                        'rgb(75, 192, 192)',
                        'rgb(54, 162, 235)',
                        'rgb(153, 102, 255)',
                        'rgb(201, 203, 207)'
                    ],
                    borderWidth: 1,
                    hoverOffset: 4
                }]
            },
            options: {

            }
        });
        // Met à jour le nombre d'etudiant ayant soumis une reponses
        // document.querySelector('.nbr_user_answered').innerHTML = data_["nbr_user_answered"];
    });
    let stop_answer = () => {
        let id_live = document.querySelector(".IdLive_").value
        console.log("jarret les reponses");
        // Stoppée la soumission de question dans le live
        socket.emit("stop_answer", id_live)
    }
    // // f -> nbr_user_answered
    // socket.on('stat_user_answered', function(data_) {
    //             console.log(data_);
    //             // Met à jour le nombre d'etudiant ayant soumis une reponses
    //             document.querySelector('.nbr_user_answered').innerHTML = data_['nbr_user_answered'];
    // });
    function showModal() {
        var modal = document.getElementById("modal");
        var btnLive = document.getElementById("id_btnLive");
        var modalText = document.getElementById("modal-text");
        modal.style.display = "block";
        modalText.innerHTML = btnLive.value;
    }

    function closeModal() {
        var modal = document.getElementById("modal");
        modal.style.display = "none";
    }



</script>

</html>