.header{
    color: black;
    /* text-align:center; */
    height: 130px;
    background-color: #A9A9A9;
    border-radius: 10px;
    margin-left: auto;
    margin-right: auto;
    display: flex;
    padding: 20px;
    width: 1120px;
    align-items: center;
    justify-content: center;
}

.titre{
    display: block;

}

.header img{
    border-radius: 50%;
    width: 120px;
    height: 120px;
    margin-right: 20px;
    align-items: center;
}

.stat_live_qlive{
    font-size: 30px;
    font-weight: bolder;
    margin-top: 20px;
    height: 35px;
}


body{
    background-color: #f6f4f7;
}

.question{
    width: 320px;
    margin-top: 0;
    background-color: aquamarine;
}



