




.header{
    display: flex;
    align-items: center;
    /* height: 15vh; */
    width: 100vw;
    /* background-color: #e2e2e2; */
    /* padding: 10px; */
    /* justify-content: space-around; */

}
.logo_header{
    margin: 10px;
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 5em;
    /* background-color: #efefef; */
    padding: 20px;
    /* height: 150px;
    width: 400px; */
    box-shadow: 5px 10px 100px -3px rgba(0,0,0,0.1);
}
.logo_header img{
    height: 100px;
    width: 100px;
    margin-right: 20px;
    border-radius: 50%;
}
.container_app{
    padding: 50px;
}
.banner_logo{
    display: flex;
    align-items: center;
    background-color: #f3f3f3;
    border-radius: 2em;
}
.info_banner{
    padding: 40px;
    /* margin-left: 40px; */
}
.option_dashboard_info{
    padding: 10px;
    width: max-content;
}
.fonctionality_:hover{
    background-color: rgb(250, 250, 250);


    transition: 0.3s;
    transition-duration: 0.3s;
}
.fonctionality_{
    cursor: pointer;
    /* background-color: #f83f2a; */
    background-color: #ffb700;

    border-radius: 2em;
    /* margin-top: 20px; */
    margin-right: 5px;
    padding: 12px;
    color: #f3f3f3;
    width: max-content;
    border-style: none;
    margin-left: 10px;

}
.menu_dashboard{
    display: flex;
    justify-content: flex-end;
}
.container_fonctionality{
    width: 500px;
    display: flex;

}
.question_interface{
    display: flex;
    padding: 20px;
    width: 785px;
    height: max-content;
    border-radius: 3em;
    margin-left: 10px;
    margin-top: 10px;
    margin-right: 10px;

}
.question_container{
    display: flex;
    justify-content: space-around;
    align-items: center;
    border-radius: 5em;

}
.container_print_data{
    height: auto;
    width: auto;
}
.visual_engine{
    display: flex;
    flex-direction: column;
    background-color: rgb(253, 251, 251);
    padding: 50px;
    width: 100vw;
    height: 100vh;
}
/* QUESTION_INTERFACE */
.question_interface{
    display: flex;
    padding: 20px;
    width: 785px;
    height: max-content;
    border-radius: 3em;
    margin-left: 10px;
    margin-top: 10px;
    margin-right: 10px;

}
#enonce_champ{
    display: flex;
    border-radius: 2em;
    align-items: center;
    justify-content: center;
    padding: 30px;
    border-color:  rgb(207, 207, 207);
    outline:0px none transparent;
    height: 500px;
    width: 600px;
}
#enonce_champ:hover{
    box-shadow: 5px 5px 50px -8px rgba(0,0,0,0.46);
    transition: 0.3s;
    transition-duration: 0.3s;
    border-color: #f6f4f7;
}

.form_question{
    display: flex;
    flex-direction: column;
    height: 1000px;
}

.submit_btn{
    background-color: #65e194;
    width: max-content;
    padding: 10px;
    border-radius: 2em;
    margin-top: 20px;
}
.submit_btn:hover{
    transition: 0.3s;
    transition-duration: 0.3s;
    background-color: rgb(250, 250, 250);
}

.title_{
    background-color: rgb(207, 207, 207);
    width: max-content;
    padding: 10px;
    border-radius: 2em;
    margin-top: 20px;
}
.container_questions{
    display: flex;
    flex-direction: column;
}
.add_question{
    cursor: pointer;
}
.add_question:hover{
    background-color: rgb(207, 207, 207);

    transition: 0.3s;
    transition-duration: 0.3s;
}

#container_questions{
    border-radius: 2em;
    height: max-content;
    width: max-content;
    background-color: rgb(204, 204, 204);
    display: flex;
    flex-direction: column;
    padding: 20px;
}
#container_thematique{
    border-radius: 2em;
    height: max-content;
    width: max-content;
    background-color: rgb(204, 204, 204);
    display: flex;
    flex-direction: column;
    padding: 20px;
}



.container_question_info{
    background-color: hsl(0, 0%, 98%);
    padding: 20px;
    border-radius: 2em;
    display: flex;
    align-items: center;
    justify-content: space-between;
}
.create_account{
    /* display: flex; */
    align-items: center;
    justify-content: center;
    /* width: 100vw; */
    background-color: #fff;
    /* height: 100vh; */
    z-index: 100;
    flex-direction: column;

}
.change_password{
    /* display: flex; */
    align-items: center;
    justify-content: center;
    /* width: 100vw; */
    background-color: #fff;
    /* height: 100vh; */
    z-index: 100;
    flex-direction: column;

}