*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

/* HEADER */
.header_app{
    width: max-content;
    height: 10vh;
    display: flex;
    align-items: center;
    justify-content: center;
    /* background-color: #ffffff; */
    padding: 70px;
    /* position: fixed; */
    border-radius: 3em;
    /* margin-left: 10px;
    margin-top: 10px; */
    margin-right: 10px; 
    font-size: 16px;
    overflow: hidden;
    
}
.container_header_top{
    padding: 20px;
    display: flex;
    align-items: center;
    justify-content: center;
    /* background-color: #be3838; */
}
.container_logo{
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 10px;
    margin-right: 20px;
    height: 100%;
}
/* QUESTION_INTERFACE */
.question_interface{
    display: flex;
    padding: 20px;
    width: 785px;
    height: max-content;
    border-radius: 3em;
    margin-left: 10px;
    margin-top: 10px;
    margin-right: 10px;

}
#enonce_champ{
    display: flex;
    border-radius: 2em;
    align-items: center;
    justify-content: center;
    padding: 30px;
    border-color:  rgb(207, 207, 207);
    outline:0px none transparent;
    height: 500px;
    width: 600px;
}
#enonce_champ:hover{
    box-shadow: 5px 5px 50px -8px rgba(0,0,0,0.46);
    transition: 0.3s;
    transition-duration: 0.3s;
    border-color: #f6f4f7;
}

.form_question{
    display: flex;
    flex-direction: column;
    height: 1000px;
}

.submit_btn{
    background-color: #65e194;
    width: max-content;
    padding: 10px;
    border-radius: 2em;
    margin-top: 20px;
}
.submit_btn:hover{
    transition: 0.3s;
    transition-duration: 0.3s;
    background-color: rgb(250, 250, 250);
}

.title_{
    background-color: rgb(207, 207, 207);
    width: max-content;
    padding: 10px;
    border-radius: 2em;
    margin-top: 20px;
}
.container_questions{
    display: flex;
    flex-direction: column;
}
.add_question{
    cursor: pointer;
}
.add_question:hover{
    background-color: rgb(207, 207, 207);

    transition: 0.3s;
    transition-duration: 0.3s;
}

#container_questions{
    border-radius: 2em;
    height: max-content;
    width: max-content;
    background-color: rgb(204, 204, 204);
    display: flex;
    flex-direction: column;
    padding: 20px;
}
#container_thematique{
    border-radius: 2em;
    height: max-content;
    width: max-content;
    background-color: rgb(204, 204, 204);
    display: flex;
    flex-direction: column;
    padding: 20px;
}

.fonctionality_{
    cursor: pointer;
    background-color: #ffb700;
    width: max-content;
    border-radius: 2em;
    margin-right: 5px;
    padding: 12px;
    width: max-content;
    border-style: none;

}
.visual_engine{
    display: flex;
    flex-direction: column;
    background-color: rgb(253, 251, 251);
    padding: 50px;
    width: 100vw;
    height: 100vh;
}
.fonctionality_:hover{
    background-color: rgb(250, 250, 250);

    transition: 0.3s;
    transition-duration: 0.3s;
}
.container_fonctionality{
    display: flex;
    align-items: center;
    justify-content: center;
    
}

.container_banner_note{
    background-color: rgb(214, 214, 214);
    padding: 20px;
    border-radius: 2em;
}

.question_container{
    display: flex;
    justify-content: space-around;
    align-items: center;
    border-radius: 5em;

}
.container_print_data{
    height: auto;
    width: auto;
}