*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: sans-serif;
}
body{
    width: 100vw;
    height: 100vh;
    /* background-color: #aad3fe; */
    /* display: flex; */

    

}
.container_acceuil{
    display: flex;
    /* padding: 20px; */
    align-items: center;
    justify-content: space-around;
}

.banner{
    width: 50vw;
    height: 90vh;
    display: flex;
    justify-content: center;
    flex-direction: column;
    padding: 50px;

}



.interface_connexion{
    /* position: absolute; */
    /* z-index: 10000; */
    /* padding: 100px; */
    width: 40vw;
    height: 800px;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    /* box-shadow: 0px 10px 79px 56px rgba(0,0,0,0.1); */
    border-radius: 2em;
    
    /* background: #d8d7d7; */
    /* background-color: #dddddd;
    background-image: linear-gradient(to bottom, rgba(255,255,255,0.50) 0%, rgba(0,0,0,0.50) 100%), radial-gradient(at 50% 0%, rgba(255,255,255,0.10) 0%, rgba(0,0,0,0.50) 50%);
    background-blend-mode: soft-light,screen; */
    /* backdrop-filter: blur(10px); */

}
