*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    /* background-color: rgb(255, 255, 255); */
}
body{
    width: 100%;
    height: 100%;
    display: flex;
}

.s_option{
    border-radius: 1em;
    padding: 25px;
    background-color: rgb(212, 98, 98);
    width: max-content;
    height: 5px; 
    display: flex;
    justify-content: center;
    align-items: center;
    
}

.visual_engine{
    padding: 20px;
    flex-direction: column;
    display: flex;
    width: 100vw;
    height: 100vh;
    background-color: rgb(188, 188, 188);
}



/* ! CSS - interface question */

.container_app{
    width: 100%;
    height: 100%;
    /* background-color: rgb(249, 94, 94); */
    padding: 20px;
    margin: 5px;
}

.card_{
    margin: 10px;
    box-shadow: rgba(149, 157, 165, 0.2) 0px 8px 24px;
    border-radius: 2em;
}
.visual_data{
    overflow: hidden;
    height: auto;
    padding: 20px;
    border-radius: 2em;
}
