<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.2.3/dist/css/bootstrap.min.css" rel="stylesheet">
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.2.3/dist/js/bootstrap.bundle.min.js"></script>
    <link rel="stylesheet" href="/static/css/loging.css">
    <script src="../static/public/js/app.js"></script>
    <link rel="stylesheet" href="/static/css/dashboard.css">
    <style>
        .center {
            display: flex;
            justify-content: center;
            align-items: center;
            height: 100vh;
        }

        .logo {
            animation: heartbeat 1s infinite;

            cursor: pointer;
        }

        @keyframes heartbeat {
            0% {
                transform: scale(1);
            }

            25% {
                transform: scale(1.2);
            }

            50% {
                transform: scale(1);
            }

            75% {
                transform: scale(0.8);
            }

            100% {
                transform: scale(1);
            }
        }
        .form-container {
			position: fixed;
			top: 0;
			left: 0;
			width: 100%;
			height: 100%;
			display: none;
			background-color: rgb(255, 255, 255);
			align-items: center;
			justify-content: center;
		}
        .close-button {
			position: absolute;
			top: 10px;
			right: 10px;
			background-color: transparent;
			border: none;
			color: rgb(0, 0, 0);
			font-size: 80px;
			cursor: pointer;
		}
    </style>


    <title>App - connexion </title>
    <script>

    </script>
</head>

<body>
    <div class="center">

        <img class="logo" src="/static/img/457.svg" alt="" height="200px" width="200px" onclick="openForm()">
        
    </div>
    <div class="form-container" id="form-container">
        
        <div class="banner">
            <div class="">
                <p
                    style="font-size: 20px;font-family:'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;">
                    Créez et participez à des questionnaires pour évaluer vos connaissances. Améliorez vos compétences
                    avec une expérience d'apprentissage amusante et interactive. </p>
            </div>
            <div class="container_fonctionality">
                <button class="fonctionality_" type="submit" data-bs-container="body" data-bs-toggle="popover"
                    data-bs-placement="bottom" data-bs-content="Raphael Hamza Amar William">Developpeur</h4>
                    <button class="fonctionality_" type="submit">Readme</h4>
                    </button>
            </div>
            

        </div>
        <div class="interface_connexion ">
            <form action="/" method="post" >
                <!-- <h2>Bienvenue parmis nous !</h2>
                <p>
                    <em> Veuillez vous connecter </em>
                </p> -->
                <div class="form-floating mb-3">
                    <input width="400px" type="text" class="form-control" id="floatingInput" name="user_name" style="border-radius: 2em;"
                        placeholder="Nom d'utilisateur">
                    <label for="floatingInput" id="utilisateur">Nom d'utilisateur</label>
                </div>
                <div class="form-floating">
                    <input type="password" class="form-control" id="floatingPassword" name="user_password"
                        placeholder="Password" style="border-radius: 2em;">
                    <label for="floatingPassword">mot de passe</label>
                </div>
                <input type="hidden" name="connexion" value="connexion">
                <div class="container_space_app" style="margin-top: 20px;">
                    <button class="btn btn-primary w-45 " style="margin-top: 10px; border-radius: 2em;" type="submit"
                        name="login">Se connecter</button>
                    <button class="btn w-45 " id="inscriptions"
                        style="margin-top: 10px; border-radius: 2em; background-color: rgb(45, 247, 115);" type="submt"
                        name="register">Inscription</button>
                    <h2 id="error-message" style="color: rgb(241, 31, 31); border-radius: 2em; font-size: 15px;">
                        {{error_connexion}}</h2>
    
                    <div class="form-check form-switch" style="margin: 5px; font-size: 30px;">
                        <input type="hidden" id="type_userF" value="enseignant" name="type_user">
                        <label class="form-check-label label_inputypeUser" for="type_user_input"></label>
                        <input class="form-check-input" type="checkbox" role="switch" id="type_user_input">
                    </div>
                </div>
                <button class="close-button" onclick="closeForm()">&times;</button>
    
    
            </form>

        </div>
        
		
	</div>


    <script>
       function openForm() {
			document.getElementById("form-container").style.display = "flex";
		}
		function closeForm() {
			document.getElementById("form-container").style.display = "none";
		}
    </script>


    <!-- <div class="container_acceuil">
            <div class="banner ">
                 <h1>Dive into the world of UM-Question</h1>  
                
                <div class="">
                    <p style="font-size: 20px;font-family:'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;">Créez et participez à des questionnaires pour évaluer vos connaissances. Améliorez vos compétences avec une expérience d'apprentissage amusante et interactive. </p>
                </div>
                <div class="banner_logo">
                    <div class="container_info" style="display: flex;align-items: center;">
                        <img src="/static/img/457.svg" alt="" height="200px" width="200px">
                    </div>
                    <div class="container_f">
                        <h2>Acceuil | UM - Question</h2>
                        <div class="container_fonctionality">
                                <button class="fonctionality_" type="submit" data-bs-container="body" data-bs-toggle="popover" data-bs-placement="bottom" data-bs-content="Raphael Hamza Amar William">Developpeur</h4>
                                <button class="fonctionality_" type="submit">Readme</h4>
                                 <button class="fonctionality_ " style="background-color: rgb(214, 214, 214);" type="submit"> Diffusion - <span class="badge rounded-pill text-bg-danger">Live</span> 
                                </button>
                        </div>
                    </div>
                </div>
            </div>
            <div class="interface_connexion ">
                 <div class="container_info" >
                    <img src="/static/img/457.svg" alt="" height="300px" width="300px">
                </div> 
                
            </div>
        </div>  -->

    <footer
        style="width: 100vw;height: 10vh; display: flex; align-items: center; justify-content: center; background-color: #f4f4f4;">
        Copyright © 2023 Facultés des sciences / Département informatique . All rights reserved.
    </footer>
</body>
<script>
    // Les deux types d'User
    const typeUser = ["etudiant", "enseignant"]
    const switchButton_choix = document.getElementById("type_user_input");
    const label_choix = document.querySelector(".label_inputypeUser");
    label_choix.innerHTML = "<b class='badge text-bg-danger' style='border-radius: 2em'>Categorie</b> : " + typeUser[1]
    switchButton_choix.addEventListener("change", function () {
        if (switchButton_choix.checked) {
            document.getElementById("type_userF").value = typeUser[0];
            label_choix.innerHTML = "<b class='badge text-bg-danger' style='border-radius: 2em'>Categorie</b> : " + typeUser[0];
            document.getElementById("inscriptions").style.display = "none"
            document.getElementById("utilisateur").innerHTML = 'Numero Etudiant'


        } else if (switchButton_choix.checked == false) {
            document.getElementById("type_userF").value = typeUser[1];
            label_choix.innerHTML = "<b class='badge text-bg-danger' style='border-radius: 2em'>Categorie</b> : " + typeUser[1]
            document.getElementById("inscriptions").style.display = "inline-block"
            document.getElementById("utilisateur").innerHTML = "Nom d'utilisateur"
        }
    });
    const popoverTriggerList = document.querySelectorAll('[data-bs-toggle="popover"]')
    const popoverList = [...popoverTriggerList].map(popoverTriggerEl => new bootstrap.Popover(popoverTriggerEl))
</script>
<!-- <script src="https://cdnjs.cloudflare.com/ajax/libs/socket.io/4.0.1/socket.io.js" integrity="sha512-q/dWJ3kcmjBLU4Qc47E4A9kTB4m3wuTY7vkFJDTZKjTs8jhyGQnaUrxa0Ytd0ssMZhbNua9hE+E7Qv1j+DyZwA==" crossorigin="anonymous"></script>
    <script type="text/javascript" charset="utf-8">
        var socket = io();
        socket.on('connect', function() {
            socket.emit('my event', {data: 'I\'m connected!'});
        });
    </script> -->

</html>